<div class="HeaderPhoto"><img src="../../../Images/photo_none.png" alt="Profile Photo"></div>
<div class="HeaderContent">
    <h1 class="name">@ViewBag.data.Name</h1>
    <div class="data">
        <b id="birthday">Idade:</b>&nbsp;@ViewBag.age<br/>
        <b id="hospital">Hospital:</b>&nbsp;@ViewBag.data.Hospital<br/>
    </div>
    <div class="board">Teste</div>
</div>
