@using EHR.UI.Models
@model PatientModel
<ul class="timeline" id="collapser">
    @foreach (TreatmentModel treatment in Model.Treatments)
    {
        <li><a href="../../Patient/?cpf=@Model.CPF&treatment=@treatment.Id">@treatment.EntryDate.ToShortDateString()</a></li>    
    }
    @*<li><a href="#" tabindex="-1">2011</a>
        <ul class="clearfix">
            <li><a href="#">September</a></li>
            <li><a href="#">August</a></li>
            <li><a href="#">July</a></li>
            <li><a href="#">June</a></li>
            <li><a href="#">May</a></li>
            <li><a href="#">April</a></li>
            <li><a href="#">March</a></li>
            <li><a href="#">February</a></li>
            <li><a href="#">January</a></li>
        </ul>
    </li>*@
</ul>
