@*@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@
@*@section PageLayout
{*@
<form method="get" id="searchPeopleFilter">
    <div class="leftCol rightLine">
        @{Html.RenderPartial("Layout/_LeaftCol");}
    </div>
    <div class="headArea">
        <h2>Busca Avan&ccedil;ada</h2>
    </div>
    <div class="contentArea">
        @{Html.RenderPartial("Layout/_ContentArea");}
    </div>
        </form>
@*}*@