@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PageLayout
{
    <div class="leftCol">
        @{Html.RenderPartial("Layout/_LeaftCol");}
    </div>
    <div class="headArea">
        <h2>Advanced Search</h2>
    </div>
    <div class="contentArea">
        @{Html.RenderPartial("Layout/_ContentArea");}
    </div>
}