<div id="complementaryExam">
    <label>Exame:</label>&nbsp;
    <input type="text" name="Description" />
    <br />
    <br />
    <label>PerSum&aacute;rioodo:</label>
    <input type="text" name="Period" />
    <br />
    <br />
    <input type="button" onclick='SaveComplementaryExam(this);' value="Adicionar" class="uibutton large confirm" />&nbsp;&nbsp;
            <input type="reset" onclick="closeForm(this);" value="Cancelar" class="uibutton large" />
</div>
