<ul class="ulTable _4kg  _4ks">
    @{
        Html.RenderPartial("DischargeData/_ComplementaryExamTableRow");
    }
    <li class="clearfix">
        <div class="clearfix">
            <a class="action" onclick='newRow(this,"/Patient/ComplementaryExamForm");'>
                <span>+</span>
            </a>
        </div>
        <div class="content"></div>
    </li>
</ul>
