@using EHR.UI.Models
@foreach (ComplementaryExamModel complementaryExam in ViewBag.ComplementaryExams)
{
    <li class="clearfix">
        <span class="firstColumn">
            @complementaryExam.Description
        </span>
        <a class="action" title="Excluir registro" onclick='deleteRow(this,"/Patient/DeleteComplementaryExam/?id=@complementaryExam.Id", null)'><span>X</span></a>
        <span class="lastColumn">@complementaryExam.Period Dia(s)</span>
        <span class="middleColumn"></span>
    </li>
}