<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="connectionOracleSumario" value="Data Source=10.250.3.24/PRDETL; User ID=INTEGRADOR;Password=it24632z"/>
    <add key="Environment" value="Development"/>
    <add key="ProjectPath" value="C:\\Users\\sammuel\\Documents\\GitHub\\EHR\\EHR.Solution\\ImportTables"/>
    <add key="PatientIndexPath" value="C:\Users\sammuel\Documents\Arquivos\EHR\\lucene_index_patient" />
    <add key="RecordIndexPath" value="C:\Users\sammuel\Documents\Arquivos\EHR\lucene_index_record" />
    <add key="TreatmentIndexPath" value="C:\Users\sammuel\Documents\Arquivos\EHR\lucene_index_treatment" />
    <add key="CIDIndexPath" value="C:\Users\sammuel\Documents\Arquivos\EHR\lucene_index_cid" />
    <add key="TUSSIndexPath" value="C:\Users\sammuel\Documents\Arquivos\EHR\lucene_index_tus" />
    <add key="DEFIndexPath" value="C:\Users\sammuel\Documents\Arquivos\EHR\lucene_index_def" />
    <add key="connection" value="Data Source=PSV\SQLEXPRESS;Initial Catalog=EHRv2;Integrated Security=True" />
    <!--<add key="connection" value="Data Source=localhost;Initial Catalog=Workker.EHR;User Id=sa;Password=123456"/>-->
    <!--<add key="connection" value="Data Source=RAFAEL-PC\SQLEXPRESS;Initial Catalog=RedeDor_SumarioDeAlta-Dev;Integrated Security=True"/>-->
    <!--<add key="connection" value="Data Source=WKK-SRV\WKKSRV;Initial Catalog=RedeDor_SumarioDeAlta-Homolog;User Id=sa;Password=123456"/>-->
    <!--<add key="connection" value="Data Source=10.250.10.218:1521/HMEHR; User ID=EHR;Password=ehr"/>-->
  </appSettings>
</configuration>
