@using System.Globalization
@using EHR.Domain.Entities
@using EHR.Infrastructure.Util
@using EHR.UI.Models
@foreach (ExamModel exam in ViewBag.Exams)
{
    <li class="clearfix">
        <span class="firstColumn">
            @EnumUtil.GetDescriptionFromEnumValue((ExamTypeEnum)Enum.Parse(typeof(ExamTypeEnum), exam.Type.ToString(CultureInfo.InvariantCulture)))
        </span>
        <a class="action" title="Excluir registro" onclick='deleteRow(this,"/DischargeSummary/DeleteExam/?id=@exam.Id", null)'><span>X</span></a>
        <span class="lastColumn">@exam.Date.ToShortDateString()</span>
        <span class="middleColumn" style="height: 15px;overflow:hidden;">@exam.Description
        </span>
    </li>
}