@using EHR.Domain.Entities
@using EHR.Domain.Util
<form id="hemotransfusion">
    <label>Tipo:</label>
    <select name="typeHemotrasfusion" style="margin-left: 5px" required>
        <option value="-1">Selecione</option>
        @foreach (var value in Enum.GetValues(typeof(HemotransfusionTypeEnum)).Cast<short>().ToList())
        {
            <option value="@value">
                @(EnumUtil.GetDescriptionFromEnumValue((HemotransfusionTypeEnum)Enum.Parse(typeof(HemotransfusionTypeEnum), value.ToString())) + "  ")
            </option>  
        }
    </select>
    <br />
    <br />
    <label>Rea&ccedil;&atilde;o transfusional:</label><input type="radio" name="reaction" value="yes" onchange="Display($(this).next().next().next().next(), true)" style="margin-right: 5px;" />
    Sim<input type="radio" name="reaction" value="false" checked onchange="Display($(this).next().next().next(), false)" />
    N&atilde;o<br />
    <br />
    <div id="reaction" style="display: none;">
        <label>Tipo:</label><br />
        <br />
        @foreach (var value in Enum.GetValues(typeof(ReactionTypeEnum)).Cast<short>().ToList())
        {
            <input type="checkbox" name="typeReaction" value="@value" style="margin-bottom: 3px; margin-right: 2px;"/>
            @(EnumUtil.GetDescriptionFromEnumValue((ReactionTypeEnum)Enum.Parse(typeof(ReactionTypeEnum), value.ToString())) + "  ")
            <br />
        }
    </div>
    <br />
    <br />
    <input type="submit" onclick='saveRow(this, "../Patient/SaveHemotransfusion");' value="Salvar" class="uibutton large confirm" />&nbsp;&nbsp;
    <input type="reset" onclick="closeForm(this);" value="Cancelar" class="uibutton large" />
</form>
