<ul class="ulTable _4kg  _4ks" style="display: none;">
    <li class="clearfix">
        <div class="clearfix">
            <a class="action" onclick='newRow(this,"../Patient/AllergyForm");'>
                <span>+</span>
            </a>
        </div>
        <div class="content"></div>
    </li>
</ul>
