<ul class="ulTable _4kg  _4ks" id="ulHemotransfusion" style="display: none;">
    @{
        Html.RenderPartial("Hemotransfusion/_HemotransfusionTableRow");
    }
    <li class="clearfix">
        <div class="clearfix">
            <a class="action" onclick='newRow(this,"/Patient/HemotransfusionForm");'>
                <span>+</span>
            </a>
        </div>
        <div class="content"></div>
    </li>
</ul>
