@using EHR.Domain.Entities
@using EHR.Domain.Util

<label>Tipo:</label>
<select name="type" style="margin-left: 5px">
    <option value="0">Selecione</option>
    @foreach (var value in Enum.GetValues(typeof(HemotransfusionTypeEnum)).Cast<short>().ToList())
    {
        <option value="@value">
        @(EnumUtil.GetDescriptionFromEnumValue((HemotransfusionTypeEnum)Enum.Parse(typeof(HemotransfusionTypeEnum), value.ToString())) + "  ")
        </option>  
    }
</select>
<label>Rea&ccedil;&atilde;o transfusional:</label>&nbsp;&nbsp;<input type="radio" name="transfusion" value="yes" />
Sim&nbsp;&nbsp;<input type="radio" name="transfusion" value="no" />
Não<br />
<br />
<label>Tipo:</label><br />

@foreach (var value in Enum.GetValues(typeof(ReactionTypeEnum)).Cast<short>().ToList())
{
    <input type="checkbox" name="type.@value" />
    @(EnumUtil.GetDescriptionFromEnumValue((ReactionTypeEnum)Enum.Parse(typeof(ReactionTypeEnum), value.ToString())) + "  ")
    <br/>
}