@using System.Globalization
@using EHR.Domain.Entities
@using EHR.Infrastructure.Util
<form id="diagnostic">
    <label>Tipo de diagn&oacute;stico:</label>    
        <select name="diagnostic.type" style="margin-left: 5px" required>
        <option value="-1">Selecione</option>
        @foreach (var value in Enum.GetValues(typeof(DiagnosticTypeEnum)).Cast<short>().ToList())
        {
            <option value="@value">
                @(EnumUtil.GetDescriptionFromEnumValue((DiagnosticTypeEnum)Enum.Parse(typeof(DiagnosticTypeEnum), value.ToString(CultureInfo.InvariantCulture))) + "  ")
            </option>  
        }
    </select>
    <br />
    <br />
    <label>CID:</label>
    <input type="text" name="diagnostic.description" style="margin-left: 93px" size="50" maxlength="100" onclick="GenericAutoComplete(this, '/DischargeSummary/CidAutoComplete', '#cidCode')" />
    <br />
    <br />
    <label>CID c&oacute;digo:</label>
    <input type="text" name="diagnostic.cid.code" id="cidCode" readonly="readonly" style="margin-left: 53px" /><br />
    <br />
    <br />
    <input type="submit" onclick='saveRow(this, "/DischargeSummary/SaveDiagnostic");' value="Salvar" class="uibutton large confirm" />&nbsp;&nbsp;
    <input type="reset" onclick="closeForm(this);" value="Cancelar" class="uibutton large" />
</form>
<script type="text/javascript">

    $(document).ready(function () {

        $("#diagnostic input[type='submit']").click(function () {

            if ($("#diagnostic select[name='diagnostic.type']").val() == "-1") {

                displayMessage("Um tipo de diagn&oacute;stico deve ser selecionado.", "error");
                //MarkInvalidField(secondEmailField);
                $("#diagnostic select[name='diagnostic.type']").focus();
                return false;
            }

            if ($("#diagnostic input[name='diagnostic.description']").val() == "") {

                displayMessage("O campo CID deve ser preenchido.", "error");
                //MarkInvalidField(secondEmailField);
                $("#diagnostic input[name='diagnostic.description']").focus();
                return false;
            }

            if ($("#diagnostic input[name='diagnostic.cid.code']").val() == "") {

                displayMessage("CID inv&aacute;lido.", "error");
                //MarkInvalidField(secondEmailField);
                $("#diagnostic input[name='diagnostic.description']").focus();
                return false;
            }

        });
    });

</script>