<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="connection" value="Data Source=.\SQLEXPRESS;Initial Catalog=EHR;Integrated Security=True"/>-->
    <add key="connection" value="Data Source=WKK-SRV\WKKSRV;Initial Catalog=RedeDor_SumarioDeAlta-Homolog;User Id=sa;Password=123456"/>
    <add key="connectionOracleSumario" value="Data Source=10.250.3.24/PRDETL; User ID=INTEGRADOR;Password=it24632z"/>
  </appSettings>
</configuration>
