<form id="medicationForm">
    <input type="hidden" name="medication.type" value="@ViewBag.MedicationType" />
    <label>Medicamento:</label>
    <input type="text" required style="margin-left: 10px;" onclick="GenericAutoComplete(this, '../Patient/DefAutoComplete', '#def')" />
    <input type="hidden" name="medication.def.id" id="def" />
    <br />
    <br />
    <label>Apresenta&ccedil;&atilde;o:</label>
    <input type="text" name="medication.presentation" required style="margin: 0px 5px 0px 10px;" />
    <select name="medication.presentationType" required>
        <option value="-1">Selecione</option>
    </select>
    <br />
    <br />
    <label>Dose:</label>
    <input type="text" name="medication.dose" required style="margin: 0px 5px 0px 60px;" />
    <select name="medication.dosage" required>
        <option value="-1">Selecione</option>
    </select>
    <br />
    <br />
    <label>Via:</label>
    <select name="medication.way" required style="margin: 0px 5px 0px 70px;">
        <option value="-1">Selecione</option>
    </select>
    <label>Local:</label>
    <input type="text" name="medication.place" required />
    <br />
    <br />
    <label>Frequ&ecirc;ncia:</label>
    <select name="medication.frequency" required style="margin: 0px 5px 0px 25px;">
        <option value="-1">Selecione</option>
    </select>
    <select name="medication.frequencyCase" required>
        <option value="-1">Selecione</option>
    </select><br />
    <br />
    <label>Dura&ccedil;&atilde;o:</label>
    <input type="text" name="medication.duration" style="margin-left: 40px;" />&nbsp;&nbsp;Dia(s)<br />
    <br />
    <br />
    <input type="button" onclick='saveRow(this, "../Patient/SaveMedication");' value="Savar" class="uibutton large confirm" />&nbsp;&nbsp;
    <input type="reset" onclick="closeForm(this);" value="Cancelar" class="uibutton large" />
</form>
