@using System
@using System.Collections.Generic
@using System.Globalization
@using System.Linq
@using EHR.Domain.Entities
@using EHR.Infrastructure.Util
@{
    ViewBag.Title = "Rede D'or São Luiz - Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Page
{
    <div id="container" style="min-width: 650px; height: 250px; margin: 0 auto"></div>
}


@section scripts
{
<script type="text/javascript" src="~/Scripts/AjaxFlagMenu-1.0.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/highcharts.js"></script>
<script type="text/javascript" src="~/Scripts/exporting.js"></script>

<script type="text/javascript">

    $(function () {
        var chart;
        $(document).ready(function () {
            chart = new Highcharts.Chart({
                chart: {
                    type: 'column',
                    renderTo: 'container'
                },
                title: {
                    text: 'Dashboard de prescições'
                },
                xAxis: {
                    categories: ['Cuidados', 'Medicamentos', 'Suporte Ventilatório', 'Dietas', 'Procedimentos', 'Monitorização', 'Hemocomponentes']
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Total de prescrições'
                    }
                },
                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage}%)<br/>',
                    shared: true
                },
                plotOptions: {
                    column: {
                        stacking: 'percent'
                    }
                },
                series: [{
                    name: 'Iniciado',
                    data: [5, 3, 5, 2, 2, 5, 3]
                }, {
                    name: 'Pendente',
                    data: [2, 2, 3, 3, 5, 2, 2]
                }, {
                    name: 'Finalizado',
                    data: [3, 5, 2, 5, 3, 3, 5]
                }]
            });
        });
    });


    </script>
}