@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div id="bloodpreasure">
    <img src="~/Content/themes/base/images/preasurechart1.jpg" />
</div>*@

<div id="container" style="min-width: 36%; height: 500px; margin: 0 auto"></div>