<span class="firstColumn">Laboratorio</span>
<a class="action" onclick='deleteRow(this,"../Patient/DeleteExam", null)'><span>X</span></a>
<a class="action" onclick='editRow("../Patient/ExamForm", null, this);'>
    <span>Edit</span></a>
<span class="lastColumn">GHGHGHG</span>
<span class="middleColumn">20/05/2012</span>