@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="highslide-gallery" style="width: 600px; margin: auto">
<!--
	5) This is how you mark up the thumbnail images with an anchor tag around it.
	The anchor's href attribute defines the URL of the full-size image. Given the captionEval
	option is set to 'this.img.alt', the caption is grabbed from the alt attribute of
	the thumbnail image.
-->
	<a class='highslide' href='../Images/exam1.jpg' onclick="return hs.expand(this)">
		<img src='../Images/exam1_thumb.jpg' alt=''/></a>

	<a class='highslide' href='../images/exam2.jpg' onclick="return hs.expand(this)">
		<img src='../images/exam2_thumb.jpg' alt=''/></a>

	<a class='highslide' href='../images/exam3.jpg' onclick="return hs.expand(this)">
		<img src='../images/exam3_thumb.jpg' alt=''/></a>

	<a class='highslide' href='../images/exam4.jpg' onclick="return hs.expand(this)">
		<img src='../images/exam4_thumb.jpg' alt=''/></a>

	<a class='highslide' href='../images/exam5.jpg' onclick="return hs.expand(this)">
		<img src='../images/exam5_thumb.jpg' alt='a'/></a>

	<a class='highslide' href='../images/exam6.jpg' onclick="return hs.expand(this)">
		<img src='../images/exam6_thumb.jpg' alt=''/></a>

	<a class='highslide' href='../images/exam7.jpg' onclick="return hs.expand(this)">
		<img src='../images/exam7_thumb.jpg' alt=''/></a>

	<a class='highslide' href='../images/exam8.jpg' onclick="return hs.expand(this)">
		<img src='../images/exam8_thumb.jpg' alt=''/></a>

	<a class='highslide' href='../images/exam9.jpg' onclick="return hs.expand(this)">
		<img src='../images/exam9_thumb.jpg' alt=''/></a>

	<a class='highslide' href='../images/exam10.jpg' onclick="return hs.expand(this)">
		<img src='../images/exam10_thumb.jpg' alt=''/></a>

	@*<a class='highslide' href='../images/thumbstrip11.jpg' onclick="return hs.expand(this)">
		<img src='../images/thumbstrip11.thumb.png' alt='Two cabins'/></a>

	<a class='highslide' href='../images/thumbstrip12.jpg' onclick="return hs.expand(this)">
		<img src='../images/thumbstrip12.thumb.png' alt='Patterns in the snow'/></a>

	<a class='highslide' href='../images/thumbstrip13.jpg' onclick="return hs.expand(this)">
		<img src='../images/thumbstrip13.thumb.png' alt='Cabins'/></a>

	<a class='highslide' href='../images/thumbstrip14.jpg' onclick="return hs.expand(this)">
		<img src='../images/thumbstrip14.thumb.png' alt='Old stone cabins'/></a>

	<a class='highslide' href='../images/thumbstrip15.jpg' onclick="return hs.expand(this)">
		<img src='../images/thumbstrip15.thumb.png' alt='A litte open water'/></a>

	<a class='highslide' href='../images/thumbstrip16.jpg' onclick="return hs.expand(this)">
		<img src='../images/thumbstrip16.thumb.png' alt='Dipper'/></a>

	<a class='highslide' href='../images/thumbstrip17.jpg' onclick="return hs.expand(this)">
		<img src='../images/thumbstrip17.thumb.png' alt='Dipper'/></a>

	<a class='highslide' href='../images/thumbstrip18.jpg' onclick="return hs.expand(this)">
		<img src='../images/thumbstrip18.thumb.png' alt='Mountains'/></a>

	<a class='highslide' href='../images/thumbstrip19.jpg' onclick="return hs.expand(this)">
		<img src='../images/thumbstrip19.thumb.png' alt='Birch trees'/></a>

	<a class='highslide' href='../images/thumbstrip20.jpg' onclick="return hs.expand(this)">
		<img src='../images/thumbstrip20.thumb.png' alt='Highland woods'/></a>

	<a class='highslide' href='../images/thumbstrip21.jpg' onclick="return hs.expand(this)">
		<img src='../images/thumbstrip21.thumb.png' alt='Frozen lake'/></a>

	<a class='highslide' href='../images/thumbstrip22.jpg' onclick="return hs.expand(this)">
		<img src='../images/thumbstrip22.thumb.png' alt='Spring in the mountains'/></a>

	<a class='highslide' href='../images/thumbstrip23.jpg' onclick="return hs.expand(this)">
		<img src='../images/thumbstrip23.thumb.png' alt='Spring in the mountains'/></a>

	<a class='highslide' href='../images/thumbstrip24.jpg' onclick="return hs.expand(this)">
		<img src='../images/thumbstrip24.thumb.png' alt='Fjord landscape'/></a>*@


</div>
