@using System.Globalization
@using EHR.Domain.Entities
@using EHR.Infrastructure.Util
@using EHR.UI.Models
@foreach (PrescriptionForServiceModel prescription in ViewBag.PrescriptionsForService)
{
    
    <li class="clearfix">
        <span class="firstColumn">@(prescription.TypePrescription == null ? "" : prescription.TypePrescription.Description)</span>
        <a class="action" title="Excluir registro" onclick='deleteRow(this, "/DischargeSummary/DeletePrescriptionForService/?id=@prescription.Id", null)'><span>X</span></a>
        <span class="lastColumn">@prescription.Duration Dia(s)</span>
        <span class="middleColumn">@(prescription.Type != 3 ? "" : prescription.Dose + " " + EnumUtil.GetDescriptionFromEnumValue((DosageEnum)Enum.Parse(typeof(DosageEnum), prescription.Dosage.ToString(CultureInfo.InvariantCulture))) + " " + EnumUtil.GetDescriptionFromEnumValue((FrequencyEnum)Enum.Parse(typeof(FrequencyEnum), prescription.Frequency.ToString(CultureInfo.InvariantCulture))))</span>
    </li>
    
}