<form>
    <fieldset id="diagnosticos">
        <legend class="legenda">Abtimicrobianos</legend>
        <table id="tableAntimicrobial" class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="actionCollum"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Novalex 50%</td>
                    <td>1 Days</td>
                    <td></td>
                    <td class="actionCollum"><a href="#" onclick="exibeForm();">Edit</a></td>
                </tr>
            </tbody>
        </table>
        <div id="divForm" class="grayBox" style="display: none;">
            <label>Item:</label>&nbsp;&nbsp;&nbsp;
            <select><option selected="selected">Novalex 50%</option></select><br/><br/>
            <label>Periodo:</label>
            <input type="number" class="inputtext" value="1" />&nbsp;&nbsp;<select><option selected="selected">Dias</option></select><br />
            <br />
            <input type="submit" onclick="fechaForm();" value="Save Changes" class="uibutton large confirm" />&nbsp;&nbsp;
            <input type="reset" onclick="fechaForm();" value="Cancel" class="uibutton large" />
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="actionCollum"><a href="#">New</a></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>
