<form id="ColonizationByMDR">
    <h3>Colonização por MDR</h3>
    <hr />
    <br />
    <input type="radio" name="haveMDR" required value="true" onchange="Display($(this).next().next(), true)" />&nbsp;Sim&nbsp;
    <input type="radio" name="haveMDR" value="false" checked onchange="Display($(this).next(), false)" />&nbsp;N&atilde;o
    <div style="display: none;">
        <br />
        <label>Descri&ccedil;&atilde;o:</label><br />
        <textarea rows="10" cols="90" maxlength="1000"></textarea>
        <br />
        <br />
        <input type="submit" value="Salvar" class="uibutton large confirm" />&nbsp;&nbsp;
        <input type="reset" value="Cancelar" onclick="Display($(this).parent(), false)" class="uibutton large" />
    </div>
</form>
