<form>
    <fieldset name="colonizationByMDR">
        <legend class="legenda">Colonization by MDR</legend>
        <br />
        <input type="radio" name="MDR" />
        Yes &nbsp;&nbsp;
        <input type="radio" name="MDR" />
        No<br />
        <br />
        <label>Description:</label><br />
        <textarea></textarea>
    </fieldset>
    <br />
    <hr />
    <br />
    <input type="submit" value="Save Changes" class="uibutton large confirm" />&nbsp;&nbsp;
    <input type="reset" value="Cancel" class="uibutton large" />
</form>
