<form>
    <fieldset name="colonizationByMDR">
        <legend class="legenda">Colonização por MDR</legend>
        <hr/>
        <br />
        <input type="radio" name="MDR" />
        Sim &nbsp;&nbsp;
        <input type="radio" name="MDR" />
        Não<br />
        <br />
        <label>Descrição:</label><br />
        <textarea style="width: 690px"></textarea>
    </fieldset>
    <br />
    <hr />
    <br />
    <input type="submit" value="Save Changes" class="uibutton large confirm" />&nbsp;&nbsp;
    <input type="reset" value="Cancel" class="uibutton large" />
</form>
