<form>
    <fieldset id="exams">
        <legend class="legenda">Exams</legend>
        <hr/>
        <table id="tableExams" class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="actionCollum"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Laboratory</td>
                    <td>GHGHGHG</td>
                    <td>20/05/2012</td>
                    <td class="actionCollum"><a href="#" onclick="exibeForm();">Edit</a></td>
                </tr>
            </tbody>
        </table>
        <div id="divForm" class="grayBox" style="display: none;">
            <label>Type of Exam:</label>&nbsp;
            <select>
                <option selected="selected">Laboratory</option>
            </select>
            <br /><br/>
            <label>Date:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <select name="dob_month" id="dob_month" class="input_pulldown">
                <option value="0">Month:</option>
                <option value="5" selected="selected">May</option>
            </select>&nbsp;
            <select name="dob_day" id="dob_day" class="input_pulldown">
                <option value="0">Select...</option>
                <option value="24" selected="selected">24</option>
            </select>&nbsp;
            <select name="dob_year" id="dob_year" class="input_pulldown">
                <option value="0">Select...</option>
                <option value="2012" selected="selected">2012</option>
            </select>
            <br /><br/>
            <label>Description of Result:</label><br/>
            <textarea style="width: 98%">GHGHGHG</textarea><br />
            <br />
            <input type="submit" onclick="fechaForm();" value="Save Changes" class="uibutton large confirm" />&nbsp;&nbsp;
        <input type="reset" onclick="fechaForm();" value="Cancel" class="uibutton large" />
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <td ></td>
                    <td></td>
                    <td ></td>
                    <td class="actionCollum"><a href="#">New</a></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>
