<h1>Dados Gerais</h1>
<hr />
<br />

    <fieldset id="admissao">
        <legend>Admiss&atilde;o</legend>
        <br />
        <div>
            <label>Motivo da admissão:</label>&nbsp;
            <input type="text" id="motivoDaAdmissao" name="motivoDaAdmissao" />
        </div>
        <br />
    </fieldset>
    <hr />
    <fieldset id="alergias">
        <legend>Alergias</legend>
        <br />
        <label>Alergia Medicamentos  e outras:</label>&nbsp;
        <input type="radio" name="alergia" value="true" />
        Sim&nbsp;
        <input type="radio" name="alergia" value="false" />
        Não
        <br />
        <br />
        <label>A que:</label>&nbsp;
        <input type="text" />
        <br />
        <br />
        <label>Tipo(s):</label>&nbsp;
        <input type="radio" name="tipos" />
        Angioedema&nbsp;&nbsp;
        <input type="radio" name="tipos" />
        Urtic&aacute;ria&nbsp;&nbsp;
        <input type="radio" name="tipos" />
        Choque Anafil&aacute;tico&nbsp;&nbsp;
        <input type="radio" name="tipos" />
        Broncoespasmo&nbsp;&nbsp;
        <input type="radio" name="tipos" />
        Laringoespasmo&nbsp;&nbsp;
        <input type="radio" name="tipos" />
        Outros
        <br />
        <br />
        <hr />
        <br />
    </fieldset>
    <fieldset id="diagnosticos">
        <legend>Diagn&oacute;sticos</legend>
        <br />
        @{
            Html.RenderPartial("GeneralData/_DiagnosticsTable");
        }
    </fieldset>
    <br />
    <fieldset id="medicineUsePrior">
        <legend></legend>
        <label>Medicamentos de uso pr&eacute;vio:</label><br />
        <textarea rows="10" cols="90"></textarea><br />
        <br />
        <label>História, exame fisico na admissão, breve curso hospitalar e exames relevantes:</label><br />
        <textarea rows="10" cols="90"></textarea>
    </fieldset>
    <br />
    <hr />
    <br />
    <input type="submit" value="Save Changes" class="uibutton large confirm" />&nbsp;&nbsp;
    <input type="reset" value="Cancel" class="uibutton large" />

<script type="text/javascript">
    window.onload = function () {
        $("#motivoDaAdmissao").tokenInput("../Patient/Admission", {
            theme: "facebook"
        });
    };
    $(document).ready(function () {
        $("#motivoDaAdmissao").tokenInput("../Patient/Admission", {
            theme: "facebook"
        });
    });
</script>
