@model EHR.UI.Models.SummaryModel
<h1>Dados Gerais</h1>
<hr />
<br />
<h3>Admiss&atilde;o</h3>
<br />
<label>Motivo da admiss&atilde;o:</label>&nbsp;
<input type="text" id="motivoDaAdmissao" name="motivoDaAdmissao" />
<br />
<hr />
@{
    Html.RenderPartial("GeneralData/_AllergyTable");
}
<br />
<hr />
@{
    Html.RenderPartial("GeneralData/_DiagnosticsTable", Model);
}
<br />
<hr />
@{
    Html.RenderPartial("GeneralData/_MedicamentOfPreviousUseTable");
}
<br />
<hr />
@{
    Html.RenderPartial("GeneralData/_MedicamentUsedDuringhospitalizationTable");
}
<br />
<hr />
@*<label>História, exame fisico na admissão, breve curso hospitalar e exames relevantes:</label><br />
<form>
    <textarea rows="10" cols="90" maxlength="1000" id="observation" name="observation"></textarea>
</form>*@
<script type="text/javascript">
    $(document).ready(function () {
        $("#motivoDaAdmissao").tokenInput("../Patient/Admission", {
            theme: "facebook"
        });
        ToggleAllergy();
    });
    $('#observation').focusout(function () {
        SaveObsevation();
    });
</script>
