<form>
    <fieldset id="Hemotransfusion">
        <legend class="legenda">Hemotransfusion</legend><br/><br/>
        <label>Hemotransfusion: </label>&nbsp;<input type="radio" name="hemotransfusion" value="yes"/> Yes&nbsp;&nbsp;<input type="radio" name="hemotransfusion" value="no"/> No<br/><br/>
        <h3>Reaction</h3>
        <label>Transfusion: </label>&nbsp;&nbsp;<input type="radio" name="transfusion" value="yes"/> Yes&nbsp;&nbsp;<input type="radio" name="transfusion" value="no"/> No<br/><br/>
        <label>Type:</label><br/>
        <input type="checkbox" name="type.1"/> Aloimunização eritrocitária<br/>
        <input type="checkbox" name="type.2"/> Aloimunização HLA<br/>
        <input type="checkbox" name="type.3" checked="checked"/> Imunomodulação <br/>
        <input type="checkbox" name="type.4" checked="checked"/> Lesão pulmonar relacionada a transfusão <br/>
        <input type="checkbox" name="type.5"/> Púrpura pós transfusional<br/>
        <input type="checkbox" name="type.6"/> Reação Alérgica: leve; moderada; grave<br/>
        <input type="checkbox" name="type.7"/> Reação enxerto x hospedeiro<br/>
        <input type="checkbox" name="type.8"/> Reação Febril não hemolítica<br/>
        <input type="checkbox" name="type.9"/> Reação Hemolítica Imune 
    </fieldset>
        <br />
    <hr />
    <br />
    <input type="submit" value="Save Changes" class="uibutton large confirm" />&nbsp;&nbsp;
    <input type="reset" value="Cancel" class="uibutton large" />
</form>