<form>
    <fieldset id="medices">
        <legend class="legenda">Medicamentos</legend>
        <table id="tableMedices" class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="actionCollum"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Novalgina</td>
                    <td></td>
                    <td>1 Dias</td>
                    <td class="actionCollum"><a href="#" onclick="exibeForm();">Edit</a></td>
                </tr>
            </tbody>
        </table>
        <div id="divForm" class="grayBox" style="display: none;">
            <label>Item:</label>&nbsp;&nbsp;&nbsp;
            <select>
                <option selected="selected">Novalex 50%</option>
            </select><br />
            <br />
            <label>Periodo:</label>
            <input type="number" class="inputtext" value="1" />&nbsp;<select><option selected="selected">Dias</option>
            </select><br />
            <br />
            <input type="submit" onclick="fechaForm();" value="Save Changes" class="uibutton large confirm" />&nbsp;&nbsp;
            <input type="reset" onclick="fechaForm();" value="Cancel" class="uibutton large" />
        </div>
        <table class="table" style="margin-top: 5px;">
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="actionCollum"><a href="#">New</a></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>
