<form>
    <fieldset id="receituario">
        <legend class="legenda">Receituario</legend>
        <table id="tabelaDeReceituario" class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="actionCollum"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nocalgina</td>
                    <td>1 ml</td>
                    <td>1 Gota</td>
                    <td>Auricular</td>
                    <td>Em caso de Diarréia</td>
                    <td>1 Meses</td>
                    <td class="actionCollum"><a href="#" onclick="exibeForm();">Edit</a></td>
                </tr>
            </tbody>
        </table>
        <div id="divForm" class="grayBox" style="display: none;">
            <label>Medicamentos:</label>&nbsp;
            <select>
                <option selected="selected">Novalgina</option>
            </select><br />
            <br />
            <label>Outro Item:</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" /><br />
            <br />
            <label>Dose:</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="number" value="1.00" step="0.01" min="0"/>&nbsp;&nbsp;<select><option selected="selected">ml</option>
            </select><br />
            <br />
            <label>Apresentação:</label>
            &nbsp;&nbsp;
            <input type="number"  value="1.00" step="0.01" min="0"/>&nbsp;&nbsp;<select><option selected="selected">Gota</option>
            </select><br />
            <br />
            <label>Via:</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <select>
                <option selected="selected">Auricular</option>
            </select>
            &nbsp;&nbsp;
            <label>Local:</label>
            <input type="text" /><br />
            <br />
            <label>Frequência:</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <select>
                <option selected="selected">Em caso de </option>
            </select>&nbsp;&nbsp;<select><option selected="selected">Diarréia</option>
            </select><br/><br/>
            <label>Duração:</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="number" value="1"/>&nbsp;&nbsp;<select><option selected="selected">Meses</option>
            </select><br />
            <br />
            <br />
            <input type="submit" onclick="fechaForm();" value="Save Changes" class="uibutton large confirm" />&nbsp;&nbsp;
            <input type="reset" onclick="fechaForm();" value="Cancel" class="uibutton large" />
        </div>
        <table class="table" style="margin-top: 5px;">
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="actionCollum"><a href="#">New</a></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <br />
    <hr />
    <br />
    <input type="submit" value="Save Changes" class="uibutton large confirm" />&nbsp;&nbsp;
    <input type="reset" value="Cancel" class="uibutton large" />

</form>
