<form>
    <fieldset id="procedures">
        <legend class="legenda">Procedures</legend>
        <table id="tableDeprocedures" class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="actionCollum"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Adenoidectomia por video endoscopia</td>
                    <td>Outros</td>
                    <td>10/09/2012</td>
                    <td class="actionCollum"><a href="#" onclick="exibeForm();">Edit</a></td>
                </tr>
            </tbody>
        </table>
        <div id="divForm" class="grayBox" style="display: none;">
            <label>Procedimento:</label>
            <select>
                <option selected="selected">Adenoidectomia por video endoscopia</option>
            </select><br />
            <br />
            <label>Tipo:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <select>
                <option selected="selected">Outros</option>
            </select>&nbsp;&nbsp;<select><option></option>
            </select><br />
            <br />
            <label>Data:</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <select name="dob_month" id="dob_month" class="input_pulldown">
                <option value="0">Month:</option>
                <option value="9" selected="selected">September</option>
            </select>
            <select name="dob_day" id="dob_day" class="input_pulldown">
                <option value="0">Select...</option>
                <option value="10" selected="selected">10</option>
            </select>
            <select name="dob_year" id="dob_year" class="input_pulldown">
                <option value="0">Select...</option>
                <option value="2012" selected="selected">2012</option>
            </select><br />
            <br />
            <input type="submit" onclick="fechaForm();" value="Save Changes" class="uibutton large confirm" />&nbsp;&nbsp;
            <input type="reset" onclick="fechaForm();" value="Cancel" class="uibutton large" />
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td class="actionCollum"><a href="#">New</a></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>
