<h1>Cadastro de Paciente</h1>
<div style="border: 1px solid #e2e2e3; padding: 5px; position: absolute; width: 930px;">
    <form>
        <div class="SimpleleftCol">
            <img src="../../../Images/photo_none.png" alt="Profile Photo">
        </div>
        <div class="rfloat" style="margin-right: 25%">
            <label>Nome:</label>
            <input type="text" name="Name" required size="100" />
            <br />
            <br />
            <label>CPF:</label>
            <input type="text" name="CPF" required />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>Data de Nacimento:</label>
            @{Html.RenderPartial("_DatePicker");}
            <br />
            <br />
            <label>Sexo:</label>
            <input type="radio" name="Genre" value="M"/>&nbsp;Masculino
            <input type="radio" name="Genre" value="F" />&nbsp;Feminino&nbsp;&nbsp;&nbsp;
            <label>Identidade:</label>
            <input type="text" name="Identity" /><br />
            <br />
            <input type="submit" value="Salvar" class="uibutton large confirm" />
        </div>
    </form>
</div>