<ul class="fbTimelineScrubber" role="navigation" id="collapser">
    <li><a href="#" rel="ignore">Now</a></li>
    <li><a href="#" rel="ignore" tabindex="-1">October</a></li>
    <li><a href="#" rel="ignore" tabindex="-1">2011</a>
        <ul class="clearfix">
            <li><a href="#" rel="ignore">September</a></li>
            <li><a href="#" rel="ignore">August</a></li>
            <li><a href="#" rel="ignore">July</a></li>
            <li><a href="#" rel="ignore">June</a></li>
            <li><a href="#" rel="ignore">May</a></li>
            <li><a href="#" rel="ignore">April</a></li>
            <li><a href="#" rel="ignore">March</a></li>
            <li><a href="#" rel="ignore">February</a></li>
            <li><a href="#" rel="ignore">January</a></li>
        </ul>
    </li>
    <li><a href="#" rel="ignore" tabindex="-1">2000</a>
        <ul class="clearfix">
            <li><a href="#" rel="ignore">December</a></li>
            <li><a href="#" rel="ignore">November</a></li>
            <li><a href="#" rel="ignore">October</a></li>
            <li><a href="#" rel="ignore">September</a></li>
            <li><a href="#" rel="ignore">August</a></li>
            <li><a href="#" rel="ignore">July</a></li>
            <li><a href="#" rel="ignore">June</a></li>
            <li><a href="#" rel="ignore">May</a></li>
            <li><a href="#" rel="ignore">April</a></li>
            <li><a href="#" rel="ignore">March</a></li>
            <li><a href="#" rel="ignore">February</a></li>
            <li><a href="#" rel="ignore">January</a></li>
        </ul>
    </li>
    <li class="clearfix"><a href="#" rel="ignore" tabindex="-1">1993</a>
        <ul class="clearfix">
            <li><a href="#" rel="ignore">December</a></li>
            <li><a href="#" rel="ignore">November</a></li>
            <li><a href="#" rel="ignore">October</a></li>
            <li><a href="#" rel="ignore">September</a></li>
            <li><a href="#" rel="ignore">August</a></li>
            <li><a href="#" rel="ignore">July</a></li>
            <li><a href="#" rel="ignore">June</a></li>
            <li><a href="#" rel="ignore">May</a></li>
            <li><a href="#" rel="ignore">April</a></li>
            <li><a href="#" rel="ignore">March</a></li>
            <li><a href="#" rel="ignore">February</a></li>
            <li><a href="#" rel="ignore">January</a></li>
        </ul>
    </li>
    <li><a href="#" rel="ignore" tabindex="-1">Born</a></li>
</ul>