@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageLayout
                    {
    <div id="header">
        @{Html.RenderPartial("Layout/_ProfileHeader");}
    </div>
    <aside id="timeLine" class="lfloat">
        @{Html.RenderPartial("Layout/_TimeLine");}
    </aside>
    <div class="verticalLine"></div>
    <aside id="data" class="lfloat">
        @{Html.RenderPartial("Layout/_Data");}
    </aside>
}
<div id="center" class="lfloat contentPage">
    @{Html.RenderPartial("_GeneralData");}
    <div id="test"></div>
</div>
