<h3>Alergias</h3>
<br />
<label>Alergia Medicamentos  e outras:</label>&nbsp;
<input type="radio" name="haveAllergy" value="true" onchange="Display($(this).next().next().next().next(), true)" />&nbsp;Sim&nbsp;
<input type="radio" name="haveAllergy" value="false" checked onchange="Display($(this).next().next().next(), false)" />&nbsp;N&atilde;o
<br />
<br />
<ul class="ulTable _4kg _4ks" id="ulAllergy" style="display: none;">
    @{
        Html.RenderPartial("GeneralData/_AllergyTableRow");
    }
    <li class="clearfix">
        <div class="clearfix">
            <a class="action" title="Incluir registro" onclick='newRow(this,"../Patient/AllergyForm");'>
                <span>+</span>
            </a>
        </div>
        <div class="content"></div>
    </li>
</ul>