@using EHR.Domain.Entities
@using EHR.Infrastructure.Service.Cache
<form id="allergy">
    <label>A que:</label>&nbsp;
        <input type="text" name="theWitch" autofocus required size="50" />
    <br />
    <br />
    <label>Tipo(s):</label>&nbsp;
    @foreach (var type in CacheManagementService.GetBy<IList<AllergyType>>("AllergyTypes"))
    {
        <input type="checkbox" name="type" value="@type.Id" />
        @(type.Description + "  ")
    }
    <br />
    <br />
    <input type="submit" onclick='saveRow(this, "../Patient/SaveAllergy");' value="Salvar" class="uibutton large confirm" />&nbsp;&nbsp;
            <input type="reset" onclick="closeForm(this);" value="Cancelar" class="uibutton large" />
</form>