<span class="firstColumn">Morfina</span>
<a class="action" onclick='deleteRow(this,"../Patient/DeleteAllergy", null)'><span>X</span></a>
<a class="action" onclick='editRow("../Patient/AllergyForm", null, this);'>
    <span>Edit</span></a>
<span class="lastColumn"></span>
<span class="middleColumn">Angioedema</span>