@using System.Globalization
@using EHR.Domain.Entities
@using EHR.Infrastructure.Util
<form id="allergy">
    <label>A que:</label>&nbsp;
        <input type="text" name="theWitch" autofocus required size="50" />
    <br />
    <br />
    <label>Tipo(s):</label>&nbsp;
                @foreach (var type in Enum.GetValues(typeof(AllergyTypeEnum)).Cast<short>().ToList())
                {
                    <input type="checkbox" name="type" value="@type" />
                    @(EnumUtil.GetDescriptionFromEnumValue((AllergyTypeEnum)Enum.Parse(typeof(AllergyTypeEnum), type.ToString(CultureInfo.InvariantCulture))) + "  ")
                }
    <br />
    <br />
    <input type="submit" onclick='saveRow(this, "/Patient/SaveAllergy");' value="Salvar" class="uibutton large confirm" />&nbsp;&nbsp;
            <input type="reset" onclick="closeForm(this);" value="Cancelar" class="uibutton large" />
</form>
