@using EHR.Domain.Entities
@using EHR.Domain.Util
<span class="firstColumn">@ViewBag.factor</span>
<a class="action" title="Excluir registro" onclick='deleteRow(this,"../Patient/DeleteAllergy", null)'><span>X</span></a>
<a class="action" title="Editar registro" onclick='editRow("../Patient/AllergyForm", null, this);'>
    <span>Editar</span></a>
<span class="lastColumn"></span>
<span class="middleColumn">
    @for (int i = 1; i <= ViewBag.types.Count; i++)
    {
        @(EnumUtil.GetDescriptionFromEnumValue((AllergyTypeEnum)Enum.Parse(typeof(AllergyTypeEnum), ViewBag.types[i - 1].ToString())) + (ViewBag.types.Count == i ? "" : ",  "));
    }
</span>