@using EHR.Domain.Entities
@using EHR.Infrastructure.Service.Cache
@using EHR.UI.Models

@foreach (DiagnosticModel diagnostic in ViewBag.Diagnostics)
{
    <li class="clearfix">
        <span class="firstColumn">@(CacheManagementService.GetBy<List<DiagnosticType>>("DiagnosticTypes").FirstOrDefault(type => type.Id == diagnostic.Type).Description)</span>
        <a class="action" onclick='deleteRow(this, "../Patient/DeleteDiagnostic/?id=@diagnostic.Id", null)'><span>X</span></a>
        <span class="lastColumn">@diagnostic.Cid.Code</span>
        <span class="middleColumn">@diagnostic.Cid.Description</span>
    </li>
}