@using EHR.Domain.Entities
@using EHR.Infrastructure.Service.Cache
<form id="diagnostic">
    <label>Tipo de diagn&oacute;stico:</label>
    <select name="diagnostic.type" style="margin-left: 5px" required>
        <option value="-1">Selecione</option>
        @foreach (var diagnostic in CacheManagementService.GetBy<IList<DiagnosticType>>("DiagnosticTypes"))
        {
            <option value="@diagnostic.Id">
                @(diagnostic.Description + "  ")
            </option>  
        }
    </select>
    <br />
    <br />
    <label>CID:</label>
    <input type="text" name="cid" required style="margin-left: 93px" size="50" onclick="GenericAutoComplete(this, '../Patient/CidAutoComplete', '#cidCode')" />
    <br />
    <br />
    <label>CID c&oacute;digo:</label>
    <input type="text" name="diagnostic.cid.code" id="cidCode" readonly="readonly" style="margin-left: 53px" /><br />
    <br />
    <br />
    <input type="submit" onclick='saveRow(this, "../Patient/SaveDiagnostic");' value="Salvar" class="uibutton large confirm" />&nbsp;&nbsp;
            <input type="reset" onclick="closeForm(this);" value="Cancelar" class="uibutton large" />
</form>