<span class="firstColumn">Nameaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</span>
<a class="action" onclick='deleteRow(this,"../Patient/DeleteDiagnostic", null)'><span>X</span></a>
<a class="action" onclick='editRow("../Patient/DiagnosticForm", null, this);'>
    <span>Edit</span></a>
<span class="lastColumn">Nameaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</span>
<span class="middleColumn">Nameaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</span>