<div id="divForm" class="grayBox">
    <form>
    <label>Type of diagnostic:</label>&nbsp;
    <input type="text" value="" /><br />
    <label>CID code:</label>&nbsp;
    <input type="text" value="" /><br />
    <label>CID:</label>&nbsp;
    <input type="text" value="" />
    <br />
    <br />
    <input type="submit" onclick="closeForm(1);" value="Save Changes" class="uibutton large confirm" />&nbsp;&nbsp;
            <input type="reset" onclick="closeForm(this);" value="Cancel" class="uibutton large" />
</form>
</div>