@model EHR.UI.Models.SummaryModel
<h3>Diagn&oacute;sticos</h3>
<br />
<ul class="ulTable _4kg  _4ks">
    @{
        Html.RenderPartial("GeneralData/_DiagnosticTableRow");
    }
    <li class="clearfix">
        <div class="clearfix">
            <a class="action" title="Incluir registro" onclick='newRow(this,"/Patient/DiagnosticForm");'>
                <span>+</span>
            </a>
        </div>
        <div class="content"></div>
    </li>
</ul>
