<ul class="ulTable _4kg  _4ks">
    <li class="clearfix">
        <div class="clearfix">
            @{
                Html.RenderPartial("GeneralData/_DiagnosticTableRow");
            }
        </div>
        <div class="content"></div>
    </li>
    <li class="clearfix">
        <div class="clearfix">
            <a class="action" onclick='newRow(this,"../Patient/DiagnosticForm");'>
                <span>+</span>
            </a>
        </div>
        <div class="content"></div>
    </li>
</ul>
