<span class="firstColumn">Diagnóstico Principal</span>
<a class="action" onclick='deleteRow(this,"../Patient/DeleteDiagnostic", null)'><span>X</span></a>
<a class="action" onclick='editRow("../Patient/DiagnosticForm", null, this);'>
    <span>Edit</span></a>
<span class="lastColumn">D63.0*</span>
<span class="middleColumn">Anemia em neoplasias (C00-D48)</span>