<h3>Medicamentos de Uso Pr&eacute;vio</h3>
<br />
<ul class="ulTable _4kg  _4ks">
    <li class="clearfix">
        <div class="clearfix">
            @{
                Html.RenderPartial("GeneralData/_MedicamentOfPreviousUseTableRow");
            }
        </div>
        <div class="content"></div>
    </li>
    <li class="clearfix">
        <div class="clearfix">
            <a class="action" onclick='newRow(this,"../Patient/MedicamentOfPreviousUseForm");'>
                <span>+</span>
            </a>
        </div>
        <div class="content"></div>
    </li>
</ul>
