@using EHR.CoreShared
@using EHR.UI.Models
<div class="rfloat width50P leftLine">
    <div style="padding-left: 10px;">
        <h1 class="bottomLine">Solicita&ccedil;&otilde;es de Aprova&ccedil;&atilde;o</h1>
        <br />
        <div id="DivResult">
            @{
                Html.RenderPartial("_AccountApprovedListResult");
            }
        </div>
        <div class="clearfix uiMorePager uiMorePagerCenter showMore" id="moreAccounts">
            <a class="pam uiBoxLightblue  uiMorePagerPrimary" onclick='GetMore("../Home/MoreAccounts", this)'>Exibir mais</a>
        </div>
    </div>
</div>