@using EHR.UI.Models
<div class="lfloat width50P">
    <h1 class="bottomLine">Últimos Sum&aacute;rios Realizados</h1>
    <br />
    <div id="DivResult">
        @{
            Html.RenderPartial("_LastSumariesResult");
        }
    </div>
    @if (((List<SummaryModel>)ViewBag.Summaries).Count > 10)
    {
        <div class="clearfix uiMorePager uiMorePagerCenter showMore">
            <a class="pam uiBoxLightblue  uiMorePagerPrimary" onclick='GetMore(this,"/Home/MoreSumaries")'>Exibir mais</a>
        </div>
    }
</div>
