@{
    Layout = null;
}

<html lang="pt">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title id="pageTitle">Rede D'or</title>
<meta property="og:image" content="https://www.facebook.com/images/fb_icon_325x325.png">
<link rel="shortcut icon" href="http://static.ak.fbcdn.net/rsrc.php/yP/r/Ivn-CVe5TGK.ico">
<link rel="stylesheet" href="http://static.ak.fbcdn.net/rsrc.php/v2/yp/r/xTO-l4mV7eZ.css">
<link rel="stylesheet" href="http://static.ak.fbcdn.net/rsrc.php/v2/yZ/r/w4xhZUp2B5S.css">
<link rel="stylesheet" href="http://static.ak.fbcdn.net/rsrc.php/v2/yY/r/u8iA3kXb8Y1.css">
<link rel="stylesheet" href="http://static.ak.fbcdn.net/rsrc.php/v2/yF/r/Q0HweqM40Jf.css">
</head>
<body class="fbIndex UIPage_LoggedOut webkit win Locale_pt_BR">
<div id="FB_HiddenContainer" style="position:absolute; top:-10000px; width:0px; height:0px;"></div>
<div class="_li">
  <div id="pagelet_bluebar" data-referrer="pagelet_bluebar">
    <div id="blueBarHolder">
      <div id="blueBar">
        <div>
          <div class="loggedout_menubar_container">
            <div class="clearfix loggedout_menubar"><a class="lfloat" href="#" title=""><i class="fb_logo img sp_38839k sx_127aa9"><u>Logotipo do Rede D'or</u></i></a>
              <div class="menu_login_container rfloat">
                <form id="login_form" action="../Home/" method="get">
                  <input type="hidden" name="lsd" value="AVqXp2dF" autocomplete="off">
                  <table cellspacing="0">
                    <tbody>
                      <tr>
                        <td class="html7magic"><label for="email">E-mail ou telefone</label></td>
                        <td class="html7magic"><label for="pass">Senha</label></td>
                      </tr>
                      <tr>
                        <td><input type="text" class="inputtext" name="email" id="email" value="" tabindex="1"></td>
                        <td><input type="password" class="inputtext" name="pass" id="pass" tabindex="2"></td>
                        <td><label class="uiButton uiButtonConfirm" id="loginbutton" for="umd931h4">
                            <input value="Entrar" tabindex="4" type="submit" id="umd931h4">
                          </label></td>
                      </tr>
                      <tr>
                        <td class="login_form_label_field"><div>
                            <div class="uiInputLabel clearfix">
                              <input id="persist_box" type="checkbox" name="persistent" value="1" tabindex="3" class="uiInputLabelCheckbox">
                              <label for="persist_box">Mantenha-me conectado</label>
                            </div>
                            <input type="hidden" name="default_persistent" value="0">
                          </div></td>
                        <td class="login_form_label_field"><a rel="nofollow" href="#">Esqueceu sua senha?</a></td>
                      </tr>
                    </tbody>
                  </table>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>