@using EHR.UI.Models
@foreach (ProcedureModel p in ViewBag.Procedures)
{
    <li class="clearfix">
        <span class="firstColumn">@(p.TUSS == null ? p.Description : p.TUSS.Description)</span>
        <a class="action" title="Excluir registro" onclick='deleteRow(this,"/DischargeSummary/DeleteProcedure/?id=@p.Id", null)'><span>X</span></a>
        <span class="lastColumn"></span>
        <span class="middleColumn">
            @if (p.Date != null)
            {
                @p.Date.Value.ToShortDateString()
            }

        </span>
    </li>
}