<ul id="dataListMenu">
    <li><a href="#">Dados Gerais</a></li>
    <li><a href="#">Procedimentos</a></li>
    <li><a href="#">Abtimicrobianos</a></li>
    <li><a href="#">Outros Medicamentos Relevantes</a></li>
    <li><a href="#">Exames</a></li>
    <li><a href="#">Hemotransfusão</a></li>
    <li><a href="#">Colonização por MDR</a></li>
    <li><a href="#">Receituário</a></li>
    <li><a href="#">Dados da Alta</a></li>
    <li><a href="#">Formulário</a></li>
</ul>