<div id="topBar" class="fixed_elem">
    <div id="headContent" class="clearfix">
        <h1 id="pageLogo"><a href="#">Rede D'or</a></h1>
        <div id="notifications" class="lfloat" style="padding-top: 3px;"><img src="../../Images/Capture.PNG" alt="notifications" /></div>
        <div id="headNav" class="clearfix">
            <form class="lfloat" method="get" id="navSearch" name="navSearch" action="results" role="search">
                <div class="uiTypeahead" id="upjgpe42">
                    <div class="wrap">
                        <div class="innerWrap">
                            <span class="uiSearchInput textInput" id="upjgpe43">
                                <span>
                                    <input type="text" class="inputtext DOMControl_placeholder" maxlength="100" aria-label="Search" accesskey="/" id="q" name="q" onclick="" placeholder="Search for people, places and things" autocomplete="off" tabindex="" onfocus="" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead_list_upjgpe42" role="combobox" spellcheck="false" value="Search for people, places and things">
                                    <button type="submit" onclick="" title="Search for people, places and things">
                                        <span class="accessible_elem">Search for people, places and things</span>
                                    </button>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="uiTypeaheadView wideSearchTypeaheadView mainSearchTypeaheadView" id="upjgpe41"></div>
                </div>
            </form>
            <div class="rfloat">
                <ul id="pageNav" class="clearfix">
                    <li class="navItem firstItem tinyman"><img src="../../Images/user.png" alt="user"/><a href="#">User</a></li>
                    <li class="navItem middleItem voiceBarToggle"></li>
                    <li class="navItem middleItem" id="navHome"><a href="#">Home</a></li>
                    <li id="navAccount"><a href="#" id="navAccountLink">
                        <div class="menuPulldown" id="userNavigationLabel">Account Settings</div>
                    </a>
                        <ul class="navigation">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li class="menuDivider"></li>
                            <li></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
