<ul class="fbTimelineScrubber" role="navigation" id="uwdh7le223">
    <li class="selected"><a href="#" rel="ignore">Now</a></li>
    <li><a href="/Thiago.N.Oliveira/timeline/2012/10" rel="ignore" tabindex="-1">October</a></li>
    <li data-key="year_2012" data-rollup="2010s"><a href="http://www.facebook.com/Thiago.N.Oliveira/timeline/2012" rel="ignore" tabindex="-1">2010s</a><ul class="clearfix">
        <li data-key="year_2012" class="clearfix" data-rollup="2010s" data-year="2012"><a href="/Thiago.N.Oliveira/timeline/2012" rel="ignore" tabindex="-1">2012</a><ul class="clearfix">
            <li data-key="month_2012_9"><a href="/Thiago.N.Oliveira/timeline/2012/9" rel="ignore">September</a></li>
            <li data-key="month_2012_8"><a href="/Thiago.N.Oliveira/timeline/2012/8" rel="ignore">August</a></li>
            <li data-key="month_2012_7"><a href="/Thiago.N.Oliveira/timeline/2012/7" rel="ignore">July</a></li>
            <li data-key="month_2012_6"><a href="/Thiago.N.Oliveira/timeline/2012/6" rel="ignore">June</a></li>
            <li data-key="month_2012_5"><a href="/Thiago.N.Oliveira/timeline/2012/5" rel="ignore">May</a></li>
            <li data-key="month_2012_4"><a href="/Thiago.N.Oliveira/timeline/2012/4" rel="ignore">April</a></li>
            <li data-key="month_2012_3"><a href="/Thiago.N.Oliveira/timeline/2012/3" rel="ignore">March</a></li>
            <li data-key="month_2012_2"><a href="/Thiago.N.Oliveira/timeline/2012/2" rel="ignore">February</a></li>
            <li data-key="month_2012_1"><a href="/Thiago.N.Oliveira/timeline/2012/1" rel="ignore">January</a></li>
        </ul>
        </li>
        <li data-key="year_2011" class="clearfix" data-rollup="2010s" data-year="2011"><a href="/Thiago.N.Oliveira/timeline/2011" rel="ignore" tabindex="-1">2011</a><ul class="clearfix">
            <li data-key="month_2011_12"><a href="/Thiago.N.Oliveira/timeline/2011/12" rel="ignore">December</a></li>
            <li data-key="month_2011_11"><a href="/Thiago.N.Oliveira/timeline/2011/11" rel="ignore">November</a></li>
            <li data-key="month_2011_10"><a href="/Thiago.N.Oliveira/timeline/2011/10" rel="ignore">October</a></li>
            <li data-key="month_2011_9"><a href="/Thiago.N.Oliveira/timeline/2011/9" rel="ignore">September</a></li>
            <li data-key="month_2011_8"><a href="/Thiago.N.Oliveira/timeline/2011/8" rel="ignore">August</a></li>
            <li data-key="month_2011_7"><a href="/Thiago.N.Oliveira/timeline/2011/7" rel="ignore">July</a></li>
            <li data-key="month_2011_6"><a href="/Thiago.N.Oliveira/timeline/2011/6" rel="ignore">June</a></li>
            <li data-key="month_2011_5"><a href="/Thiago.N.Oliveira/timeline/2011/5" rel="ignore">May</a></li>
            <li data-key="month_2011_4"><a href="/Thiago.N.Oliveira/timeline/2011/4" rel="ignore">April</a></li>
            <li data-key="month_2011_3"><a href="/Thiago.N.Oliveira/timeline/2011/3" rel="ignore">March</a></li>
            <li data-key="month_2011_2"><a href="/Thiago.N.Oliveira/timeline/2011/2" rel="ignore">February</a></li>
            <li data-key="month_2011_1"><a href="/Thiago.N.Oliveira/timeline/2011/1" rel="ignore">January</a></li>
        </ul>
        </li>
        <li data-key="year_2010" class="clearfix" data-rollup="2010s" data-year="2010"><a href="/Thiago.N.Oliveira/timeline/2010" rel="ignore" tabindex="-1">2010</a><ul class="clearfix">
            <li data-key="month_2010_12"><a href="/Thiago.N.Oliveira/timeline/2010/12" rel="ignore">December</a></li>
            <li data-key="month_2010_11"><a href="/Thiago.N.Oliveira/timeline/2010/11" rel="ignore">November</a></li>
            <li data-key="month_2010_10"><a href="/Thiago.N.Oliveira/timeline/2010/10" rel="ignore">October</a></li>
            <li data-key="month_2010_9"><a href="/Thiago.N.Oliveira/timeline/2010/9" rel="ignore">September</a></li>
            <li data-key="month_2010_8"><a href="/Thiago.N.Oliveira/timeline/2010/8" rel="ignore">August</a></li>
            <li data-key="month_2010_7"><a href="/Thiago.N.Oliveira/timeline/2010/7" rel="ignore">July</a></li>
            <li data-key="month_2010_6"><a href="/Thiago.N.Oliveira/timeline/2010/6" rel="ignore">June</a></li>
            <li data-key="month_2010_5"><a href="/Thiago.N.Oliveira/timeline/2010/5" rel="ignore">May</a></li>
            <li data-key="month_2010_4"><a href="/Thiago.N.Oliveira/timeline/2010/4" rel="ignore">April</a></li>
            <li data-key="month_2010_3"><a href="/Thiago.N.Oliveira/timeline/2010/3" rel="ignore">March</a></li>
            <li data-key="month_2010_2"><a href="/Thiago.N.Oliveira/timeline/2010/2" rel="ignore">February</a></li>
            <li data-key="month_2010_1"><a href="/Thiago.N.Oliveira/timeline/2010/1" rel="ignore">January</a></li>
        </ul>
        </li>
    </ul>
    </li>
    <li data-key="year_2009" data-rollup="2000s"><a href="http://www.facebook.com/Thiago.N.Oliveira/timeline/2009" rel="ignore" tabindex="-1">2000s</a><ul class="clearfix">
        <li data-key="year_2009" class="clearfix" data-rollup="2000s" data-year="2009"><a href="/Thiago.N.Oliveira/timeline/2009" rel="ignore" tabindex="-1">2009</a><ul class="clearfix">
            <li data-key="month_2009_12"><a href="/Thiago.N.Oliveira/timeline/2009/12" rel="ignore">December</a></li>
            <li data-key="month_2009_11"><a href="/Thiago.N.Oliveira/timeline/2009/11" rel="ignore">November</a></li>
            <li data-key="month_2009_10"><a href="/Thiago.N.Oliveira/timeline/2009/10" rel="ignore">October</a></li>
            <li data-key="month_2009_9"><a href="/Thiago.N.Oliveira/timeline/2009/9" rel="ignore">September</a></li>
            <li data-key="month_2009_8"><a href="/Thiago.N.Oliveira/timeline/2009/8" rel="ignore">August</a></li>
            <li data-key="month_2009_7"><a href="/Thiago.N.Oliveira/timeline/2009/7" rel="ignore">July</a></li>
            <li data-key="month_2009_6"><a href="/Thiago.N.Oliveira/timeline/2009/6" rel="ignore">June</a></li>
            <li data-key="month_2009_5"><a href="/Thiago.N.Oliveira/timeline/2009/5" rel="ignore">May</a></li>
            <li data-key="month_2009_4"><a href="/Thiago.N.Oliveira/timeline/2009/4" rel="ignore">April</a></li>
            <li data-key="month_2009_3"><a href="/Thiago.N.Oliveira/timeline/2009/3" rel="ignore">March</a></li>
            <li data-key="month_2009_2"><a href="/Thiago.N.Oliveira/timeline/2009/2" rel="ignore">February</a></li>
            <li data-key="month_2009_1"><a href="/Thiago.N.Oliveira/timeline/2009/1" rel="ignore">January</a></li>
        </ul>
        </li>
        <li data-key="year_2008" class="clearfix" data-rollup="2000s" data-year="2008"><a href="/Thiago.N.Oliveira/timeline/2008" rel="ignore" tabindex="-1">2008</a><ul class="clearfix">
            <li data-key="month_2008_12"><a href="/Thiago.N.Oliveira/timeline/2008/12" rel="ignore">December</a></li>
            <li data-key="month_2008_11"><a href="/Thiago.N.Oliveira/timeline/2008/11" rel="ignore">November</a></li>
            <li data-key="month_2008_10"><a href="/Thiago.N.Oliveira/timeline/2008/10" rel="ignore">October</a></li>
            <li data-key="month_2008_9"><a href="/Thiago.N.Oliveira/timeline/2008/9" rel="ignore">September</a></li>
            <li data-key="month_2008_8"><a href="/Thiago.N.Oliveira/timeline/2008/8" rel="ignore">August</a></li>
            <li data-key="month_2008_7"><a href="/Thiago.N.Oliveira/timeline/2008/7" rel="ignore">July</a></li>
            <li data-key="month_2008_6"><a href="/Thiago.N.Oliveira/timeline/2008/6" rel="ignore">June</a></li>
            <li data-key="month_2008_5"><a href="/Thiago.N.Oliveira/timeline/2008/5" rel="ignore">May</a></li>
            <li data-key="month_2008_4"><a href="/Thiago.N.Oliveira/timeline/2008/4" rel="ignore">April</a></li>
            <li data-key="month_2008_3"><a href="/Thiago.N.Oliveira/timeline/2008/3" rel="ignore">March</a></li>
            <li data-key="month_2008_2"><a href="/Thiago.N.Oliveira/timeline/2008/2" rel="ignore">February</a></li>
            <li data-key="month_2008_1"><a href="/Thiago.N.Oliveira/timeline/2008/1" rel="ignore">January</a></li>
        </ul>
        </li>
    </ul>
    </li>
    <li data-key="year_1993" class="clearfix" data-rollup="1990s" data-year="1993"><a href="/Thiago.N.Oliveira/timeline/1993" rel="ignore" tabindex="-1">1993</a><ul class="clearfix">
        <li data-key="month_1993_12"><a href="/Thiago.N.Oliveira/timeline/1993/12" rel="ignore">December</a></li>
        <li data-key="month_1993_11"><a href="/Thiago.N.Oliveira/timeline/1993/11" rel="ignore">November</a></li>
        <li data-key="month_1993_10"><a href="/Thiago.N.Oliveira/timeline/1993" rel="ignore">October</a></li>
        <li data-key="month_1993_9"><a href="/Thiago.N.Oliveira/timeline/1993/9" rel="ignore">September</a></li>
        <li data-key="month_1993_8"><a href="/Thiago.N.Oliveira/timeline/1993/8" rel="ignore">August</a></li>
        <li data-key="month_1993_7"><a href="/Thiago.N.Oliveira/timeline/1993/7" rel="ignore">July</a></li>
        <li data-key="month_1993_6"><a href="/Thiago.N.Oliveira/timeline/1993/6" rel="ignore">June</a></li>
        <li data-key="month_1993_5"><a href="/Thiago.N.Oliveira/timeline/1993/5" rel="ignore">May</a></li>
        <li data-key="month_1993_4"><a href="/Thiago.N.Oliveira/timeline/1993/4" rel="ignore">April</a></li>
        <li data-key="month_1993_3"><a href="/Thiago.N.Oliveira/timeline/1993/3" rel="ignore">March</a></li>
        <li data-key="month_1993_2"><a href="/Thiago.N.Oliveira/timeline/1993/2" rel="ignore">February</a></li>
        <li data-key="month_1993_1"><a href="/Thiago.N.Oliveira/timeline/1993/1" rel="ignore">January</a></li>
    </ul>
    </li>
    <li data-key="way_back"><a href="/Thiago.N.Oliveira/timeline#way_back" rel="ignore" tabindex="-1">Born</a></li>
</ul>

