@Scripts.Render("~/bundles/jqueryui")
<form id="procedures">
    <label>Procedimento:</label>&nbsp;
    <input type="text" name="procedure" id="procedure" required value="" />
    <br />
    <br />
    <label>C&oacute;digo:</label>
    <input type="text" style="margin-left: 45px" name="procedureCode" readonly="readonly" value="" /><br />
    <br />
    <label>Data:</label>
    @{Html.RenderPartial("_DatePicker");}
    <br />
    <br />
    <input type="submit" onclick='saveRow(this, "../Patient/SaveProcedure");' value="Salvar" class="uibutton large confirm" />&nbsp;&nbsp;
    <input type="reset" onclick="closeForm(this);" value="Cancelar" class="uibutton large" />
</form>
<script type="text/javascript">
    formatDatePicker();
    $("#procedure").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "../Patient/TusAutoComplete",
                type: "POST",
                dataType: "json",
                data: { term: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Description, value: item.Description, code: item.Code };
                    }));

                }
            });
        },
        messages: {
            noResults: "",
            results: ""
        }, select: function (event, ui) {
            $('input[name=procedureCode]').val(ui.item.code);
        }
    });
</script>


