<ul class="ulTable _4kg  _4ks">
    <li class="clearfix">
        <div class="clearfix">
            <a class="action" title="Incluir registro" onclick='newRow(this,"../Patient/ProcedureForm");'>
                <span>+</span>
            </a>
        </div>
        <div class="content"></div>
    </li>
</ul>
