<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="connection" value="Data Source=.\sqlexpress;Initial Catalog=RedeDor_SumarioDeAlta-Dev;Integrated Security=True" />
    <add key="connectionOracleSumario" value="Data Source=10.250.3.24/PRDETL; User ID=INTEGRADOR;Password=it24632z" />
  </appSettings>
</configuration>