@charset "UTF-8";

/* Generic */
.lfloat { float: left; }

.rfloat { float: right; }
.width50P { width: 49%; }

#super { height: 100%; width: 100%; }

body .page { width: 981px; }

.page { margin: 0 auto; position: relative; zoom: 1; }

#contentCol { min-width: 981px; position: relative !important; }

.content { margin: 0 auto; padding-left: 5px; }

.timeline { padding: 8px 0 8px 1px; top: 38px; width: 122px; z-index: 1; }

    .timeline li { margin-bottom: 1px; }

    .timeline a, .timeline .selected ul a { display: block; outline: none; padding: 4px 0 4px 6px; }

.Menu { padding-left: 20px; width: 12%; }

.contentPage { padding-left: 1%; width: 700px; }

div.header { padding: 1px 0px 0px 0px; margin: 20px 0px 25px 0px; height: 25%; width: 25%; }

.header div.HeaderPhoto { margin: 0px 0px 0px 26px; width: 102px; height: 73px; position: absolute; z-index: 2; }

div.HeaderPhoto img { height: 70px; width: 100px; position: absolute; top: 50%; left: 50%; margin-top: -35px; margin-left: -50px; }

.header div.HeaderContent { margin: 28px 0px 0px 0px; height: 165px; width: 975px; }

.HeaderContent div.name { margin: 30px 0px 0px 132px; width: 100%; float: left; }
    .HeaderContent div.name h1 { width: 250px; height: 20px; overflow: hidden; }
.HeaderContent div.data { margin: 3px 0px 0px 0px; height: 75px; width: 350px; overflow-x: hidden; float: left; font-size: 12px; padding-top: 5px; }

div.data b { padding: 0px 0px 0px 50px; }

.HeaderContent div.board { margin: -40px 15px 0px 0px; height: 142px; width: 580px; float: right; }

/* Advanced Search*/
.detailedsearch_result { padding-bottom: 5px; }

.grayButton { display: inline-block; padding: 4px 5px; white-space: initial;}

#ChangePassword { position: absolute; margin: 32px 0px 0px 657px; padding: 10px 5px 5px 5px; position: absolute; width: 133px; }
#ChangeHospital { position: absolute; margin: 0px 0px 0px 0px; position: absolute; width: 83px; padding: 2px 2px 2px 2px;}
