@using EHR.UI.Models
<div style="padding-top: 30px">
    <h4>Últimos Visitantes</h4>
    <hr />
    <ul>
        @foreach (HistoryRecordMoldel historyRecordMoldel in ViewBag.LastVisitors)
        {
            <li style="border-bottom: 1px solid #e9e9e9;">
                <span>@(historyRecordMoldel.Account.FirstName + " " + historyRecordMoldel.Account.LastName)</span><br />
                <span>CRM: @(historyRecordMoldel.Account.ProfessionalRegistration.FirstOrDefault().Number)</span>
            </li>
        }
    </ul>
</div>
