@using EHR.UI.Models
@model SummaryModel
<div class="HeaderPhoto">
    <img src="../../../Images/photo_none.png" alt="Profile Photo">
</div>
<div class="HeaderContent">
    <div class="name">
        <h1>@Model.Patient.Name</h1>
    </div>
    <div class="data">
        <b id="birthday">Idade:</b>&nbsp;@Model.Patient.GetAge()<br />
        <b id="hospital">Hospital:</b>&nbsp;@Model.Patient.Hospital<br />
        <b>Data do Atendimento:</b>&nbsp;@Model.EntryDateTreatment.Value.ToShortDateString()<br />
    </div>
    <div class="board" style="display: inline-block">
        <div style="width: 48%; height: 100%; float: left; padding-top: 2px; text-align: center">
            <h4>Alergias Conhecidas</h4>
            <hr />
            <div style="height: 115px; padding-left: 4px; overflow-y: auto; text-align: left; overflow-x: hidden;">
                <ul>
                    @foreach (AllergyModel allergy in ViewBag.AllAlergies)
                    {
                        <li>@allergy.TheWhich</li>    
                    }
                </ul>
            </div>
        </div>
        <div style="width: 48%; height: 100%; overflow-y: auto; float: right; padding-top: 2px; text-align: center">
            <h4>Medicamentos Utilizados na &Uacute;ltima Interna&ccedil;&atilde;o</h4>
            <hr />
            <div style="height: 115px; overflow-y: auto; overflow-x: hidden; text-align: left;">
                <ul>
                    @foreach (MedicationModel medication in ViewBag.AllMedications)
                    {
                        <li>@medication.Def.Description</li>    
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
