@using System.Globalization
@using EHR.Domain.Entities
@using EHR.Infrastructure.Util
@using EHR.UI.Models
@model PatientModel
<h4>Interna&ccedil;&otilde;es</h4>
<ul class="timeline" id="collapser">
    <li><a>Nova</a></li>
    @{
        var year = 0;
        foreach (var treatmentYear in Model.Treatments.OrderByDescending(t=>t.EntryDate))
        {
            if (treatmentYear.EntryDate.Year != year)
            {
                year = treatmentYear.EntryDate.Year;
                @:<li><a href="#" tabindex="-1">@year</a>
                @:<ul class="clearfix">
                var month = 0;
                foreach (var treatmentMonth in Model.Treatments)
                {
                    if (treatmentMonth.EntryDate.Month != month && treatmentMonth.EntryDate.Year == year)
                    {
                        month = treatmentMonth.EntryDate.Month;
                        @:<li><a href="#">@(EnumUtil.GetDescriptionFromEnumValue((MonthEnum)Enum.Parse(typeof(MonthEnum), month.ToString(CultureInfo.InvariantCulture))) + "  ")</a>
                        @:<ul class="clearfix">
                        foreach (var treatment in Model.Treatments)
                        {
                            if (treatment.EntryDate.Month == month && treatment.EntryDate.Year == year)
                            {
                                @:<li><a href="../../DischargeSummary/@Model.Cpf/@treatment.Id">@treatment.EntryDate.Day - Alta: @treatment.CheckOutDate.Date.ToShortDateString()</a></li>
                            }
                        }
                        @:</ul>
                        @:</li>
                    }
                }
                @:</ul>
                @:</li>
            }
        }
    }
</ul>
@{
    Html.RenderPartial("Layout/_LastVisitors");
}
@{
    Html.RenderPartial("Layout/_LastActions");
}
