@{
    Layout = null;
}

<html>
<head>
    <link type="text/css" rel="stylesheet" href="../../Content/facebook.css">
</head>
<body class="fbIndex UIPage_LoggedOut webkit  win">
    <div id="pagelet_bluebar">
        <div id="blueBarHolder">
            <div id="blueBar">
                <div class="loggedout_menubar_container">
                    <div class="clearfix loggedout_menubar">
                        <a href="#" title="Rede D'or S&atilde;o Luiz" class="lfloat"><i class="fb_logo img sp_6jxgq1 sx_df432d">Rede D'or S&atilde;o Luiz logo</i></a>
                        <div class="menu_login_container rfloat">
                            <form id="login_form" action="#" method="post">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="html7magic">
                                                <label for="email">E-mail</label></td>
                                            <td class="html7magic">
                                                <label for="password">Senha</label></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input name="email" type="text" required tabindex="1" class="inputtext"></td>
                                            <td>
                                                <input name="password" type="password" required tabindex="2" class="inputtext"></td>
                                            <td>
                                                <label for="loginButton" class="uiButton uiButtonConfirm">
                                                    <input name="loginButton" type="submit" value="Entrar" tabindex="4">
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uiContextualLayerParent">
        <div class="fb_content clearfix">
            <div style="background: #E7EBF2; min-width: 980px">
                <div class="pvl" style="width: 980px; margin: 0 auto">
                    <div class="fbIndexMap _6_ _76">
                        <div class="title fsl fwb fcb">Hospitais particulares e Medicina Diagn&oacute;stica</div>
                        <img src="../../Images/doctor.png" alt="Doctor" class="mtl mtl img" />
                    </div>
                    <div class="_6_ _74">
                        <h1 class="mbs _3ma _6n _6s _6v" style="font-size: 36px">Cadastre-se</h1>
                        <div class="_52ls">
                            <div id="reg_box" class="registration_redesign">
                                <form method="post" id="reg" name="reg" action="#">
                                    <div id="reg_form_box" class="large_form">
                                        <div class="clearfix short_fields">
                                            <div class="mrm lfloat">
                                                <input name="firstname" type="text" required placeholder="Nome" class="inputtext text_field" />
                                            </div>
                                            <div class="mbm rfloat" style="margin-right: -10px;">
                                                <input name="lastname" type="text" required placeholder="Sobrenome" class="inputtext text_field" />
                                            </div>
                                        </div>
                                        <div class="mbm">
                                            <input name="CRM" type="text" required placeholder="Seu CRM" class="inputtext text_field" />
                                        </div>
                                        <div class="mbm">
                                            <input type="text" name="reg_email__" required placeholder="Seu e-mail" class="inputtext text_field" />
                                        </div>
                                        <div class="mbm">
                                            <input type="text" name="reg_email_confirmation__" required placeholder="Insira o e-mail novamente" class="inputtext text_field" />
                                        </div>
                                        <div class="mbm">
                                            <input type="password" name="reg_passwd__" required placeholder="Nova senha" class="inputtext text_field" />
                                        </div>
                                        <div class="mtm mbs birthday_label">Anivers&aacute;rio:</div>
                                        <div class="clearfix field_container">
                                            <div class="mrm lfloat">
                                                <select name="birthday_day">
                                                    <option value="-1">Dia:</option>
                                                </select>
                                                <select name="birthday_month">
                                                    <option value="-1">M&ecirc;s:</option>
                                                </select>
                                                <select name="birthday_year">
                                                    <option value="-1">Ano:</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mtl mbm">
                                            <div class="uiInputLabel clearfix inlineBlock">
                                                <input type="radio" name="sex" value="1" class=" uiInputLabelRadio">
                                                <label for="sex" class="gender_label">Feminino</label>
                                            </div>
                                            <div class="uiInputLabel clearfix inlineBlock">
                                                <input type="radio" name="sex" value="2" class="uiInputLabelRadio">
                                                <label for="sex" class="gender_label">Masculino</label>
                                            </div>
                                        </div>
                                        <div class="reg_btn clearfix">
                                            <button type="submit" class="_6j mvm _6wk _6wl signup_button _3ma _6o _6v">Cadastre-se</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
