@{
    Layout = null;
}

<html lang="pt-br" id="facebook" class="canHaveFixedElements">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Rede D'or</title>
    <link rel="stylesheet" href="../../Content/facebook.css">
</head>
<body class="fbIndex UIPage_LoggedOut webkit  win">
    <div>
        <div id="pagelet_bluebar">
            <div id="blueBarHolder">
                <div id="blueBar">
                    <div>
                        <div class="loggedout_menubar_container">
                            <div class="clearfix loggedout_menubar">
                                <a class="lfloat" href="#" title="Go to Facebook Home"><i class="fb_logo img sp_6jxgq1 sx_df432d"><u>Facebook logo</u> </i></a>
                                <div class="menu_login_container rfloat">
                                    <form id="login_form" action="#" method="post">
                                        <table cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td class="html7magic">
                                                        <label for="email">E-mail</label></td>
                                                    <td class="html7magic">
                                                        <label for="pass">Senha</label></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="text" class="inputtext" name="email" id="email" value="" tabindex="1"></td>
                                                    <td>
                                                        <input type="password" class="inputtext" name="pass" id="pass" tabindex="2"></td>
                                                    <td>
                                                        <label class="uiButton uiButtonConfirm" id="loginbutton" for="u_0_b">
                                                            <input value="Entrar" tabindex="4" type="submit" id="u_0_b">
                                                        </label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="globalContainer" class="uiContextualLayerParent">
            <div id="content" class="fb_content clearfix">
                <div>
                    <div>
                        <div style="background: #E7EBF2; min-width: 980px">
                            <div class="pvl" style="width: 980px; margin: 0 auto">
                                <div class="fbIndexMap _6_ _76">
                                    <div class="title fsl fwb fcb">Hospitais particulares e Medicina Diagn&oacute;stica</div>
                                    <img class="mtl mtl img" src="../../Images/doctor.png" alt="">
                                </div>
                                <div class="_6_ _74">
                                    <h1 class="mbs _3ma _6n _6s _6v" style="font-size: 36px">Cadastre-se</h1>
                                    <div>
                                        <div>
                                            <div class="_52ls">
                                                <div id="reg_box" class="registration_redesign">
                                                    <form method="post" id="reg" name="reg" action="#">
                                                        <div id="reg_form_box" class="large_form">
                                                            <div class="clearfix short_fields">
                                                                <div class="mrm lfloat">
                                                                    <input type="text" class="inputtext text_field" placeholder="Nome" name="firstname" id="u_0_5" />
                                                                </div>
                                                                <div class="mbm rfloat" style="margin-right: -10px;">
                                                                    <input type="text" class="inputtext text_field" placeholder="Sobrenome" name="lastname" id="u_0_6" />
                                                                </div>
                                                            </div>
                                                            <div class="mbm">
                                                                <input type="text" class="inputtext text_field" placeholder="Seu CRM" name="CRM" id="u_0_7" />
                                                            </div>
                                                            <div class="mbm">
                                                                <input type="text" class="inputtext text_field" placeholder="Seu e-mail" name="reg_email__" id="u_0_7" />
                                                            </div>
                                                            <div class="mbm">
                                                                <input type="text" class="inputtext text_field" placeholder="Insira o e-mail novamente" name="reg_email_confirmation__" id="u_0_8" />
                                                            </div>
                                                            <div class="mbm">
                                                                <input type="password" class="inputtext text_field" placeholder="Nova senha" name="reg_passwd__" id="u_0_9" />
                                                            </div>
                                                            <div class="mtm mbs birthday_label">Anivers&aacute;rio:</div>
                                                            <div class="clearfix field_container">
                                                                <div class="mrm lfloat">
                                                                    <select name="birthday_day" id="birthday_day">
                                                                        <option value="-1">Dia</option>
                                                                    </select>
                                                                    <select name="birthday_month" id="birthday_month">
                                                                        <option value="-1">M&ecirc;s</option>
                                                                    </select>
                                                                    <select name="birthday_year" id="birthday_year">
                                                                        <option value="-1">Ano</option>
                                                                    </select>
                                                                </div>
                                                                <div class="pts"></div>
                                                            </div>
                                                            <div class="mtl mbm">
                                                                <div class="uiInputLabel clearfix inlineBlock">
                                                                    <input type="radio" name="sex" class=" uiInputLabelRadio" value="1" id="u_0_0">
                                                                    <label class="gender_label" for="u_0_0">Feminino</label>
                                                                </div>
                                                                <div class="uiInputLabel clearfix inlineBlock">
                                                                    <input type="radio" name="sex" class="uiInputLabelRadio" value="2" id="u_0_1">
                                                                    <label class="gender_label" for="u_0_1">Masculino</label>
                                                                </div>
                                                            </div>
                                                            <div class="reg_btn clearfix">
                                                                <button type="submit" class="_6j mvm _6wk _6wl signup_button _3ma _6o _6v" name="websubmit" id="u_0_2">Cadastre-se</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
