<div class="mbs detailedsearch_feature_header"><span>SEARCH TOOLS</span></div>
<div class="mbm">
    <form rel="async" ajaxify="/search/ajax/" class="fbDetailedSearchFilterArea" method="get" action="http://www.facebook.com/search/results.php" onsubmit="return window.Event &amp;&amp; Event.__inlineSubmit &amp;&amp; Event.__inlineSubmit(this,event)" id="u_jsonp_4_20">
        <div class="mtl mrm detailLoadingIndicator">
            <img class="uiLoadingIndicatorAsync img" src="./j - Facebook Search_files/GsNJNwuI-UM.gif" alt="" width="16" height="11">
        </div>
        <div class="mbs pvm prl plm clearfix uiBoxGray noborder">
            <table>
                <tfoot>
                    <tr class="hidden_elem">
                        <td colspan="3">
                            <label class="uiLinkButton fbSearchAdvancedFiltersAddButton">
                                <input type="button" value="Add another filter..."></label></td>
                    </tr>
                </tfoot>
                <tbody class="fbSearchAdvancedFiltersVisible">
                    <tr id="u_jsonp_4_d">
                        <td>
                            <div class="uiSelector inlineBlock mrm uiSelectorNormal uiSelectorDynamicLabel" id="u_jsonp_4_j">
                                <div class="wrap">
                                    <a class="uiSelectorButton uiButton" role="button" aria-haspopup="1" aria-expanded="false" data-length="30" rel="toggle" data-href="#" href="http://www.facebook.com/search/results.php?q=j&amp;type=users&amp;init=quick&amp;tas=0.16696102521382272#"><span class="uiButtonText">Location</span></a><div class="uiSelectorMenuWrapper uiToggleFlyout">
                                        <div role="menu" class="uiMenu uiSelectorMenu">
                                            <ul class="uiMenuInner">
                                                <li class="uiMenuItem uiMenuItemRadio uiSelectorOption checked" data-label="Location"><a class="itemAnchor" role="menuitemradio" tabindex="0" href="http://www.facebook.com/search/results.php?q=j&amp;type=users&amp;init=quick&amp;tas=0.16696102521382272#" aria-checked="true"><span class="itemLabel fsm">Location</span></a></li>
                                                <li class="uiMenuItem uiMenuItemRadio uiSelectorOption disabled" data-label="Education"><a class="itemAnchor" role="menuitemradio" tabindex="-1" href="http://www.facebook.com/search/results.php?q=j&amp;type=users&amp;init=quick&amp;tas=0.16696102521382272#" aria-checked="false"><span class="itemLabel fsm">Education</span></a><span class="itemAnchor disabledAnchor"><span class="itemLabel fsm">Education</span></span></li>
                                                <li class="uiMenuItem uiMenuItemRadio uiSelectorOption disabled" data-label="Workplace"><a class="itemAnchor" role="menuitemradio" tabindex="-1" href="http://www.facebook.com/search/results.php?q=j&amp;type=users&amp;init=quick&amp;tas=0.16696102521382272#" aria-checked="false"><span class="itemLabel fsm">Workplace</span></a><span class="itemAnchor disabledAnchor"><span class="itemLabel fsm">Workplace</span></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <select disabled="1">
                                    <option value=""></option>
                                    <option value="u_jsonp_4_g" selected="1">Location</option>
                                    <option value="u_jsonp_4_h">Education</option>
                                    <option value="u_jsonp_4_i">Workplace</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div id="u_jsonp_4_g">
                                <div class="uiTypeahead lfloat" id="u_jsonp_4_m">
                                    <div class="wrap">
                                        <input type="hidden" autocomplete="off" class="hiddenInput" name="lo"><div class="innerWrap">
                                            <input type="text" class="inputtext textInput DOMControl_placeholder" placeholder="Type the name of a city or region." size="40" value="Type the name of a city or region." autocomplete="off" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead_list_u_jsonp_4_m" role="combobox" spellcheck="false" aria-label="Type the name of a city or region." id="u_jsonp_4_n">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="fbSearchAdvancedFiltersRemoveButton uiCloseButton uiCloseButtonSmall" for="u_jsonp_4_o">
                                <input title="Remove" type="button" id="u_jsonp_4_o"></label></td>
                    </tr>
                    <tr id="u_jsonp_4_e">
                        <td>
                            <div class="uiSelector inlineBlock mrm uiSelectorNormal uiSelectorDynamicLabel" id="u_jsonp_4_k">
                                <div class="wrap">
                                    <a class="uiSelectorButton uiButton" role="button" aria-haspopup="1" aria-expanded="false" data-length="30" rel="toggle" data-href="#" href="http://www.facebook.com/search/results.php?q=j&amp;type=users&amp;init=quick&amp;tas=0.16696102521382272#"><span class="uiButtonText">Education</span></a><div class="uiSelectorMenuWrapper uiToggleFlyout">
                                        <div role="menu" class="uiMenu uiSelectorMenu">
                                            <ul class="uiMenuInner">
                                                <li class="uiMenuItem uiMenuItemRadio uiSelectorOption disabled" data-label="Location"><a class="itemAnchor" role="menuitemradio" tabindex="0" href="http://www.facebook.com/search/results.php?q=j&amp;type=users&amp;init=quick&amp;tas=0.16696102521382272#" aria-checked="false"><span class="itemLabel fsm">Location</span></a><span class="itemAnchor disabledAnchor"><span class="itemLabel fsm">Location</span></span></li>
                                                <li class="uiMenuItem uiMenuItemRadio uiSelectorOption checked" data-label="Education"><a class="itemAnchor" role="menuitemradio" tabindex="-1" href="http://www.facebook.com/search/results.php?q=j&amp;type=users&amp;init=quick&amp;tas=0.16696102521382272#" aria-checked="true"><span class="itemLabel fsm">Education</span></a></li>
                                                <li class="uiMenuItem uiMenuItemRadio uiSelectorOption disabled" data-label="Workplace"><a class="itemAnchor" role="menuitemradio" tabindex="-1" href="http://www.facebook.com/search/results.php?q=j&amp;type=users&amp;init=quick&amp;tas=0.16696102521382272#" aria-checked="false"><span class="itemLabel fsm">Workplace</span></a><span class="itemAnchor disabledAnchor"><span class="itemLabel fsm">Workplace</span></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <select disabled="1">
                                    <option value=""></option>
                                    <option value="u_jsonp_4_g">Location</option>
                                    <option value="u_jsonp_4_h" selected="1">Education</option>
                                    <option value="u_jsonp_4_i">Workplace</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div id="u_jsonp_4_h">
                                <select name="ny" class="rfloat" id="u_jsonp_4_c">
                                    <option value="" selected="1">Year</option>
                                    <option value="2018">2018</option>
                                    <option value="2017">2017</option>
                                    <option value="2016">2016</option>
                                    <option value="2015">2015</option>
                                    <option value="2014">2014</option>
                                    <option value="2013">2013</option>
                                    <option value="2012">2012</option>
                                    <option value="2011">2011</option>
                                    <option value="2010">2010</option>
                                    <option value="2009">2009</option>
                                    <option value="2008">2008</option>
                                    <option value="2007">2007</option>
                                    <option value="2006">2006</option>
                                    <option value="2005">2005</option>
                                    <option value="2004">2004</option>
                                    <option value="2003">2003</option>
                                    <option value="2002">2002</option>
                                    <option value="2001">2001</option>
                                    <option value="2000">2000</option>
                                    <option value="1999">1999</option>
                                    <option value="1998">1998</option>
                                    <option value="1997">1997</option>
                                    <option value="1996">1996</option>
                                    <option value="1995">1995</option>
                                    <option value="1994">1994</option>
                                    <option value="1993">1993</option>
                                    <option value="1992">1992</option>
                                    <option value="1991">1991</option>
                                    <option value="1990">1990</option>
                                    <option value="1989">1989</option>
                                    <option value="1988">1988</option>
                                    <option value="1987">1987</option>
                                    <option value="1986">1986</option>
                                    <option value="1985">1985</option>
                                    <option value="1984">1984</option>
                                    <option value="1983">1983</option>
                                    <option value="1982">1982</option>
                                    <option value="1981">1981</option>
                                    <option value="1980">1980</option>
                                    <option value="1979">1979</option>
                                    <option value="1978">1978</option>
                                    <option value="1977">1977</option>
                                    <option value="1976">1976</option>
                                    <option value="1975">1975</option>
                                    <option value="1974">1974</option>
                                    <option value="1973">1973</option>
                                    <option value="1972">1972</option>
                                    <option value="1971">1971</option>
                                    <option value="1970">1970</option>
                                    <option value="1969">1969</option>
                                    <option value="1968">1968</option>
                                    <option value="1967">1967</option>
                                    <option value="1966">1966</option>
                                    <option value="1965">1965</option>
                                    <option value="1964">1964</option>
                                    <option value="1963">1963</option>
                                    <option value="1962">1962</option>
                                    <option value="1961">1961</option>
                                    <option value="1960">1960</option>
                                    <option value="1959">1959</option>
                                    <option value="1958">1958</option>
                                    <option value="1957">1957</option>
                                    <option value="1956">1956</option>
                                    <option value="1955">1955</option>
                                    <option value="1954">1954</option>
                                    <option value="1953">1953</option>
                                    <option value="1952">1952</option>
                                    <option value="1951">1951</option>
                                    <option value="1950">1950</option>
                                    <option value="1949">1949</option>
                                    <option value="1948">1948</option>
                                    <option value="1947">1947</option>
                                    <option value="1946">1946</option>
                                    <option value="1945">1945</option>
                                    <option value="1944">1944</option>
                                    <option value="1943">1943</option>
                                    <option value="1942">1942</option>
                                    <option value="1941">1941</option>
                                    <option value="1940">1940</option>
                                    <option value="1939">1939</option>
                                    <option value="1938">1938</option>
                                    <option value="1937">1937</option>
                                    <option value="1936">1936</option>
                                    <option value="1935">1935</option>
                                    <option value="1934">1934</option>
                                    <option value="1933">1933</option>
                                    <option value="1932">1932</option>
                                    <option value="1931">1931</option>
                                    <option value="1930">1930</option>
                                    <option value="1929">1929</option>
                                    <option value="1928">1928</option>
                                    <option value="1927">1927</option>
                                    <option value="1926">1926</option>
                                    <option value="1925">1925</option>
                                    <option value="1924">1924</option>
                                    <option value="1923">1923</option>
                                    <option value="1922">1922</option>
                                    <option value="1921">1921</option>
                                    <option value="1920">1920</option>
                                </select><div class="uiTypeahead uiClearableTypeahead photoTypeahead mrm fbDetailedSearchTypeahead fbHubsTypeahead" id="u_jsonp_4_v">
                                    <div class="wrap">
                                        <label class="clear uiCloseButton" id="u_jsonp_4_w" for="u_jsonp_4_x">
                                            <input title="Remove" type="button" onclick="" id="u_jsonp_4_x"></label><input type="hidden" autocomplete="off" class="hiddenInput" name="ed"><div class="innerWrap">
                                                <input type="text" class="inputtext textInput DOMControl_placeholder" placeholder="Type the name of a college or school." size="40" value="Type the name of a college or school." autocomplete="off" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead_list_u_jsonp_4_v" role="combobox" spellcheck="false" aria-label="Type the name of a college or school." id="u_jsonp_4_y">
                                        </div>
                                        <img class="photo img" src="./j - Facebook Search_files/UlIqmHJn-SK.gif" alt="" width="50" height="50">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="fbSearchAdvancedFiltersRemoveButton uiCloseButton uiCloseButtonSmall" for="u_jsonp_4_q">
                                <input title="Remove" type="button" id="u_jsonp_4_q"></label></td>
                    </tr>
                    <tr id="u_jsonp_4_f">
                        <td>
                            <div class="uiSelector inlineBlock mrm uiSelectorNormal uiSelectorDynamicLabel" id="u_jsonp_4_l">
                                <div class="wrap">
                                    <a class="uiSelectorButton uiButton" role="button" aria-haspopup="1" aria-expanded="false" data-length="30" rel="toggle" data-href="#" href="http://www.facebook.com/search/results.php?q=j&amp;type=users&amp;init=quick&amp;tas=0.16696102521382272#"><span class="uiButtonText">Workplace</span></a><div class="uiSelectorMenuWrapper uiToggleFlyout">
                                        <div role="menu" class="uiMenu uiSelectorMenu">
                                            <ul class="uiMenuInner">
                                                <li class="uiMenuItem uiMenuItemRadio uiSelectorOption disabled" data-label="Location"><a class="itemAnchor" role="menuitemradio" tabindex="0" href="http://www.facebook.com/search/results.php?q=j&amp;type=users&amp;init=quick&amp;tas=0.16696102521382272#" aria-checked="false"><span class="itemLabel fsm">Location</span></a><span class="itemAnchor disabledAnchor"><span class="itemLabel fsm">Location</span></span></li>
                                                <li class="uiMenuItem uiMenuItemRadio uiSelectorOption disabled" data-label="Education"><a class="itemAnchor" role="menuitemradio" tabindex="-1" href="http://www.facebook.com/search/results.php?q=j&amp;type=users&amp;init=quick&amp;tas=0.16696102521382272#" aria-checked="false"><span class="itemLabel fsm">Education</span></a><span class="itemAnchor disabledAnchor"><span class="itemLabel fsm">Education</span></span></li>
                                                <li class="uiMenuItem uiMenuItemRadio uiSelectorOption checked" data-label="Workplace"><a class="itemAnchor" role="menuitemradio" tabindex="-1" href="http://www.facebook.com/search/results.php?q=j&amp;type=users&amp;init=quick&amp;tas=0.16696102521382272#" aria-checked="true"><span class="itemLabel fsm">Workplace</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <select disabled="1">
                                    <option value=""></option>
                                    <option value="u_jsonp_4_g">Location</option>
                                    <option value="u_jsonp_4_h">Education</option>
                                    <option value="u_jsonp_4_i" selected="1">Workplace</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div id="u_jsonp_4_i">
                                <div class="uiTypeahead uiClearableTypeahead photoTypeahead lfloat fbHubsTypeahead" id="u_jsonp_4_r">
                                    <div class="wrap">
                                        <label class="clear uiCloseButton" id="u_jsonp_4_s" for="u_jsonp_4_t">
                                            <input title="Remove" type="button" onclick="" id="u_jsonp_4_t"></label><input type="hidden" autocomplete="off" class="hiddenInput" name="wk"><div class="innerWrap">
                                                <input type="text" class="inputtext textInput DOMControl_placeholder" placeholder="Type the name of a company." size="40" value="Type the name of a company." autocomplete="off" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead_list_u_jsonp_4_r" role="combobox" spellcheck="false" aria-label="Type the name of a company." id="u_jsonp_4_u">
                                        </div>
                                        <img class="photo img" src="./j - Facebook Search_files/UlIqmHJn-SK.gif" alt="" width="50" height="50">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="fbSearchAdvancedFiltersRemoveButton uiCloseButton uiCloseButtonSmall" for="u_jsonp_4_p">
                                <input title="Remove" type="button" id="u_jsonp_4_p"></label></td>
                    </tr>
                </tbody>
                <tbody class="fbSearchAdvancedFiltersHidden hidden_elem"></tbody>
            </table>
        </div>
        <input type="hidden" autocomplete="off" name="q" value="j"><input type="hidden" autocomplete="off" name="type" value="users">
    </form>
</div>
<div class="mbs detailedsearch_feature_header"><span>RESULTS</span></div>
<div class="mbm detailedsearch_result">
    <div class="clearfix">
        <a class="_8o _8r lfloat" href="http://www.facebook.com/fernando.j.silva.165" onclick="if (event.button == 0) {  search_logged_ajax({&quot;ab&quot;:&quot;X&quot;,&quot;cururl&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;fc&quot;:0,&quot;gc&quot;:0,&quot;id&quot;:100003211023003,&quot;init&quot;:&quot;quick&quot;,&quot;is_friend&quot;:false,&quot;is_new_user&quot;:0,&quot;locale&quot;:&quot;en_US&quot;,&quot;o_type&quot;:1,&quot;original_q&quot;:&quot;j&quot;,&quot;q&quot;:&quot;j&quot;,&quot;rank&quot;:0,&quot;rc&quot;:60,&quot;sid&quot;:&quot;1643670968.2137352139..1&quot;,&quot;start&quot;:0,&quot;typeahead_sid&quot;:&quot;0.16696102521382272&quot;,&quot;u&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;t&quot;:&quot;c:image&quot;});  }" onmouseup="if (event.button != 0) { search_logged_ajax({&quot;ab&quot;:&quot;X&quot;,&quot;cururl&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;fc&quot;:0,&quot;gc&quot;:0,&quot;id&quot;:100003211023003,&quot;init&quot;:&quot;quick&quot;,&quot;is_friend&quot;:false,&quot;is_new_user&quot;:0,&quot;locale&quot;:&quot;en_US&quot;,&quot;o_type&quot;:1,&quot;original_q&quot;:&quot;j&quot;,&quot;q&quot;:&quot;j&quot;,&quot;rank&quot;:0,&quot;rc&quot;:60,&quot;sid&quot;:&quot;1643670968.2137352139..1&quot;,&quot;start&quot;:0,&quot;typeahead_sid&quot;:&quot;0.16696102521382272&quot;,&quot;u&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;t&quot;:&quot;c:image&quot;});  }" tabindex="-1" aria-hidden="true">
            <img class="img" src="./j - Facebook Search_files/372140_100003211023003_254194256_q.jpg" alt=""></a><div class="clearfix _8m _8u _42ef">
                <div class="rfloat" id="u_jsonp_4_10">
                    <div class="FriendButton" id="u_jsonp_4_14">
                        <label class="FriendRequestAdd addButton uiButton" for="u_jsonp_4_15">
                            <i class="mrs img sp_bij1np sx_270cd1"></i>
                            <input value="Add Friend" type="button" id="u_jsonp_4_15"></label><a class="FriendRequestOutgoing enableFriendListFlyout outgoingButton enableFriendListFlyout hidden_elem uiButton" href="http://www.facebook.com/search/results.php?q=j&amp;type=users&amp;init=quick&amp;tas=0.16696102521382272#" role="button" data-profileid="100003211023003" data-flloc="search" data-cansuggestfriends="true"><i class="mrs img sp_bij1np sx_270cd1"></i><span class="uiButtonText">Friend Request Sent</span></a>
                    </div>
                </div>
                <div class="pls">
                    <div class="instant_search_title fsl fwb fcb"><a href="http://www.facebook.com/fernando.j.silva.165" onclick="if (event.button == 0) {  search_logged_ajax({&quot;ab&quot;:&quot;X&quot;,&quot;cururl&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;fc&quot;:0,&quot;gc&quot;:0,&quot;id&quot;:100003211023003,&quot;init&quot;:&quot;quick&quot;,&quot;is_friend&quot;:false,&quot;is_new_user&quot;:0,&quot;locale&quot;:&quot;en_US&quot;,&quot;o_type&quot;:1,&quot;original_q&quot;:&quot;j&quot;,&quot;q&quot;:&quot;j&quot;,&quot;rank&quot;:0,&quot;rc&quot;:60,&quot;sid&quot;:&quot;1643670968.2137352139..1&quot;,&quot;start&quot;:0,&quot;typeahead_sid&quot;:&quot;0.16696102521382272&quot;,&quot;u&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;t&quot;:&quot;c:name&quot;});  }" onmouseup="if (event.button != 0) { search_logged_ajax({&quot;ab&quot;:&quot;X&quot;,&quot;cururl&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;fc&quot;:0,&quot;gc&quot;:0,&quot;id&quot;:100003211023003,&quot;init&quot;:&quot;quick&quot;,&quot;is_friend&quot;:false,&quot;is_new_user&quot;:0,&quot;locale&quot;:&quot;en_US&quot;,&quot;o_type&quot;:1,&quot;original_q&quot;:&quot;j&quot;,&quot;q&quot;:&quot;j&quot;,&quot;rank&quot;:0,&quot;rc&quot;:60,&quot;sid&quot;:&quot;1643670968.2137352139..1&quot;,&quot;start&quot;:0,&quot;typeahead_sid&quot;:&quot;0.16696102521382272&quot;,&quot;u&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;t&quot;:&quot;c:name&quot;});  }" data-hovercard="/ajax/hovercard/user.php?id=100003211023003">Fernando J. Silva</a></div>
                    <div class="fsm fwn fcg">
                        <div class="fsm fwn fcg"><a class="uiLinkSubtle" href="http://www.facebook.com/browse/subscribers/?profile_id=100003211023003" ajaxify="/ajax/browser/dialog/subscribers/?profile_id=100003211023003" rel="dialog" onclick="if (event.button == 0) {  search_logged_ajax({&quot;ab&quot;:&quot;X&quot;,&quot;cururl&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;fc&quot;:0,&quot;gc&quot;:0,&quot;id&quot;:100003211023003,&quot;init&quot;:&quot;quick&quot;,&quot;is_friend&quot;:false,&quot;is_new_user&quot;:0,&quot;locale&quot;:&quot;en_US&quot;,&quot;o_type&quot;:1,&quot;original_q&quot;:&quot;j&quot;,&quot;q&quot;:&quot;j&quot;,&quot;rank&quot;:0,&quot;rc&quot;:60,&quot;sid&quot;:&quot;1643670968.2137352139..1&quot;,&quot;start&quot;:0,&quot;typeahead_sid&quot;:&quot;0.16696102521382272&quot;,&quot;u&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;t&quot;:&quot;c:subscribers&quot;});  }" onmouseup="if (event.button != 0) { search_logged_ajax({&quot;ab&quot;:&quot;X&quot;,&quot;cururl&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;fc&quot;:0,&quot;gc&quot;:0,&quot;id&quot;:100003211023003,&quot;init&quot;:&quot;quick&quot;,&quot;is_friend&quot;:false,&quot;is_new_user&quot;:0,&quot;locale&quot;:&quot;en_US&quot;,&quot;o_type&quot;:1,&quot;original_q&quot;:&quot;j&quot;,&quot;q&quot;:&quot;j&quot;,&quot;rank&quot;:0,&quot;rc&quot;:60,&quot;sid&quot;:&quot;1643670968.2137352139..1&quot;,&quot;start&quot;:0,&quot;typeahead_sid&quot;:&quot;0.16696102521382272&quot;,&quot;u&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;t&quot;:&quot;c:subscribers&quot;});  }" role="button">17 followers</a></div>
                        <div class="fbProfileByline searchResultPersonByline"><span class="fbProfileBylineFragment"><span class="fbProfileBylineIconContainer"><i class="mrs fbProfileBylineIcon img sp_bij1np sx_81762b"></i></span><span class="fbProfileBylineLabel">Lives in <a href="http://www.facebook.com/pages/Contagem/113109768703358" data-hovercard="/ajax/hovercard/page.php?id=113109768703358">Contagem</a></span></span><span class="fbProfileBylineFragment"><span class="fbProfileBylineIconContainer"><i class="mrs fbProfileBylineIcon img sp_19xhgf sx_088ae8"></i></span><span class="fbProfileBylineLabel"><a href="http://www.facebook.com/profile.php?id=100003211023003&amp;and=100001985392799">Married</a> to <a href="http://www.facebook.com/marcia.soares.121772" data-hovercard="/ajax/hovercard/user.php?id=100001985392799">Marcia Soares</a></span></span><span class="fbProfileBylineFragment"><span class="fbProfileBylineIconContainer"><i class="mrs fbProfileBylineIcon img sp_19xhgf sx_6354db"></i></span><span class="fbProfileBylineLabel">Born on May 15</span></span></div>
                    </div>
                    <div>
                        <div class="mts detailedsearch_actions fsm fwn fcg"><a href="http://www.facebook.com/browse/mutual_friends/?uid=100003211023003" rel="dialog" ajaxify="/ajax/browser/dialog/mutual_friends/?uid=100003211023003" onclick="if (event.button == 0) {  search_logged_ajax({&quot;ab&quot;:&quot;X&quot;,&quot;cururl&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;fc&quot;:0,&quot;gc&quot;:0,&quot;id&quot;:100003211023003,&quot;init&quot;:&quot;quick&quot;,&quot;is_friend&quot;:false,&quot;is_new_user&quot;:0,&quot;locale&quot;:&quot;en_US&quot;,&quot;o_type&quot;:1,&quot;original_q&quot;:&quot;j&quot;,&quot;q&quot;:&quot;j&quot;,&quot;rank&quot;:0,&quot;rc&quot;:60,&quot;sid&quot;:&quot;1643670968.2137352139..1&quot;,&quot;start&quot;:0,&quot;typeahead_sid&quot;:&quot;0.16696102521382272&quot;,&quot;u&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;t&quot;:&quot;c:mutual_friend&quot;});  }" onmouseup="if (event.button != 0) { search_logged_ajax({&quot;ab&quot;:&quot;X&quot;,&quot;cururl&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;fc&quot;:0,&quot;gc&quot;:0,&quot;id&quot;:100003211023003,&quot;init&quot;:&quot;quick&quot;,&quot;is_friend&quot;:false,&quot;is_new_user&quot;:0,&quot;locale&quot;:&quot;en_US&quot;,&quot;o_type&quot;:1,&quot;original_q&quot;:&quot;j&quot;,&quot;q&quot;:&quot;j&quot;,&quot;rank&quot;:0,&quot;rc&quot;:60,&quot;sid&quot;:&quot;1643670968.2137352139..1&quot;,&quot;start&quot;:0,&quot;typeahead_sid&quot;:&quot;0.16696102521382272&quot;,&quot;u&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;t&quot;:&quot;c:mutual_friend&quot;});  }" role="button">1 mutual friend</a> · <span class="FollowLink" onclick="if (event.button == 0) {  search_logged_ajax({&quot;ab&quot;:&quot;X&quot;,&quot;cururl&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;fc&quot;:0,&quot;gc&quot;:0,&quot;id&quot;:100003211023003,&quot;init&quot;:&quot;quick&quot;,&quot;is_friend&quot;:false,&quot;is_new_user&quot;:0,&quot;locale&quot;:&quot;en_US&quot;,&quot;o_type&quot;:1,&quot;original_q&quot;:&quot;j&quot;,&quot;q&quot;:&quot;j&quot;,&quot;rank&quot;:0,&quot;rc&quot;:60,&quot;sid&quot;:&quot;1643670968.2137352139..1&quot;,&quot;start&quot;:0,&quot;typeahead_sid&quot;:&quot;0.16696102521382272&quot;,&quot;u&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;t&quot;:&quot;c:add_fan&quot;});  }" onmouseup="if (event.button != 0) { search_logged_ajax({&quot;ab&quot;:&quot;X&quot;,&quot;cururl&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;fc&quot;:0,&quot;gc&quot;:0,&quot;id&quot;:100003211023003,&quot;init&quot;:&quot;quick&quot;,&quot;is_friend&quot;:false,&quot;is_new_user&quot;:0,&quot;locale&quot;:&quot;en_US&quot;,&quot;o_type&quot;:1,&quot;original_q&quot;:&quot;j&quot;,&quot;q&quot;:&quot;j&quot;,&quot;rank&quot;:0,&quot;rc&quot;:60,&quot;sid&quot;:&quot;1643670968.2137352139..1&quot;,&quot;start&quot;:0,&quot;typeahead_sid&quot;:&quot;0.16696102521382272&quot;,&quot;u&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;t&quot;:&quot;c:add_fan&quot;});  }"><a rel="async-post" href="http://www.facebook.com/search/results.php?q=j&amp;type=users&amp;init=quick&amp;tas=0.16696102521382272#" ajaxify="/ajax/follow/follow_profile.php?profile_id=100003211023003&amp;location=27" id="u_jsonp_4_1j">Follow</a><span class="hidden_elem" id="u_jsonp_4_21"><i class="followLinkInlineCheck img sp_5q8eak sx_ee38e0"></i><span class="followLinkSubscribed fcg">Following</span></span></span> · <a href="http://www.facebook.com/messages/fernando.j.silva.165" ajaxify="/ajax/messaging/composer.php?ids%5B0%5D=100003211023003&amp;ref=search" rel="dialog" onclick="if (event.button == 0) {  search_logged_ajax({&quot;ab&quot;:&quot;X&quot;,&quot;cururl&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;fc&quot;:0,&quot;gc&quot;:0,&quot;id&quot;:100003211023003,&quot;init&quot;:&quot;quick&quot;,&quot;is_friend&quot;:false,&quot;is_new_user&quot;:0,&quot;locale&quot;:&quot;en_US&quot;,&quot;o_type&quot;:1,&quot;original_q&quot;:&quot;j&quot;,&quot;q&quot;:&quot;j&quot;,&quot;rank&quot;:0,&quot;rc&quot;:60,&quot;sid&quot;:&quot;1643670968.2137352139..1&quot;,&quot;start&quot;:0,&quot;typeahead_sid&quot;:&quot;0.16696102521382272&quot;,&quot;u&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;t&quot;:&quot;c:action&quot;});  }" onmouseup="if (event.button != 0) { search_logged_ajax({&quot;ab&quot;:&quot;X&quot;,&quot;cururl&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;fc&quot;:0,&quot;gc&quot;:0,&quot;id&quot;:100003211023003,&quot;init&quot;:&quot;quick&quot;,&quot;is_friend&quot;:false,&quot;is_new_user&quot;:0,&quot;locale&quot;:&quot;en_US&quot;,&quot;o_type&quot;:1,&quot;original_q&quot;:&quot;j&quot;,&quot;q&quot;:&quot;j&quot;,&quot;rank&quot;:0,&quot;rc&quot;:60,&quot;sid&quot;:&quot;1643670968.2137352139..1&quot;,&quot;start&quot;:0,&quot;typeahead_sid&quot;:&quot;0.16696102521382272&quot;,&quot;u&quot;:&quot;http:\/\/www.facebook.com\/fernando.j.silva.165&quot;,&quot;t&quot;:&quot;c:action&quot;});  }" role="button">Send message</a></div>
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="clearfix uiMorePager stat_elem friendBrowserMorePager uiMorePagerCenter">
    <div><a class="pam uiBoxLightblue  uiMorePagerPrimary" href="http://www.facebook.com/search/results.php?q=j&amp;type=users&amp;init=quick&amp;tas=0.16696102521382272#" onclick="FriendBrowserCheckboxController.getInstance(&quot;friend-browser&quot;).showMore();">Show More</a><span class="uiMorePagerLoader pam uiBoxLightblue "><img class="img" src="./j - Facebook Search_files/GsNJNwuI-UM.gif" alt="" width="16" height="11"></span></div>
</div>
