<div class="mbs detailedsearch_feature_header"><span>Filtros</span></div>
<div class="mbm">

    <div class="mbs pvm prl plm clearfix uiBoxGray noborder">
        @*<div style="display: none;">*@
        <label>Data de Nascimento:&nbsp;</label>
        @{Html.RenderPartial("_DatePicker");}
        @*</div>*@
        <br />
        <br />
        @*<label class="uiLinkButton fbSearchAdvancedFiltersAddButton">
                <input type="button" value="Add another filter..." onclick="Display($(this).parent().prev().prev().prev(), true); Display(this, false);"></label>*@
        <input type="button" onclick="goFilter($('#searchPeopleFilter').serialize())" value="Filtrar" class="uibutton middle" />
    </div>
</div>
<div class="detailedsearch_feature_header"><span>Pacientes</span></div>
<div class="mbm" id="DivResult">

    @{Html.RenderPartial("Layout/_Result");}
</div>
<div class="clearfix uiMorePager uiMorePagerCenter showMore">
    <a class="pam uiBoxLightblue  uiMorePagerPrimary" onclick='GetMore(this,"/Search/More")'>Exibir mais</a>
</div>
<script type="text/javascript">
    formatDatePicker();
</script>
