<div class="leftColHead">
    <h4>UNITS</h4>
</div>
<div>
    <ul class="unitsSideBar">
        <li><input name="hospital" type="checkbox" value="@{EHRIntegracao.Domain.Factorys.DbEnum.CopaDor.ToString();}"/>&nbsp;Copa Dor</li>
        <li><input name="hospital" type="checkbox" value="QuintaDorWorkker"/>&nbsp;Quinta Dor</li>
    </ul>
</div>