@using EHR.UI.Models
<div class="leftColHead">
    <h4>Hospitais</h4>
</div>
<div>
    <ul class="unitsSideBar">
        @foreach (var hospital in (List<HospitalModel>)ViewBag.Hospitals)
        {
            <li>
                <input name="hospitalId" type="checkbox" value="@hospital.Id"/>
                &nbsp;@hospital.Name
            </li>      
        }
    </ul>
</div>
