<div class="leftColHead">
    <h4>UNITS</h4>
</div>
<div>
    <ul class="unitsSideBar">
        <li><input type="checkbox"/>&nbsp;Barra Dor</li>
        <li><input type="checkbox"/>&nbsp;Quinta Dor</li>
        <li><input type="checkbox"/>&nbsp;Norte Dor</li>
    </ul>
</div>