<div class="leftColHead">
    <h4>Hospitais</h4>
</div>
<div>
    <ul class="unitsSideBar">
        <li><input name="hospital" type="checkbox" value="CopaDor"/>&nbsp;Copa Dor</li>
        <li><input name="hospital" type="checkbox" value="QuintaDorWorkker"/>&nbsp;Quinta Dor</li>
    </ul>
</div>