@using EHR.CoreShared.Interfaces
@foreach (IPatient patient in ViewBag.Patients)
{
    <div class="clearfix">
        <a class="_8o _8r lfloat" href="#">
            <img class="img" src="/Images/Profiles/1.jpg" alt="" style="margin-right: 5px;">
        </a>
        <div class="clearfix _8m _8u _42ef" style="margin-bottom: 10px;">
            <div class="pls">
                <div class="fsl fwb fcb">
                    <a href="../DischargeSummary/@patient.CPF">@patient.Name</a>
                </div>
                <div class="fsm fwn fcg">
                    <div class="fbProfileByline searchResultPersonByline">
                        <span class="fbProfileBylineFragment">
                            <span class="fbProfileBylineLabel">@if (patient.DateBirthday != null)
                                                               {
                                                                   @patient.DateBirthday.Value.ToShortDateString()
                                                               }
                            </span>
                        </span><span class="fbProfileBylineFragment">
                            <span class="fbProfileBylineLabel" style="font-weight: bold">@patient.Hospital.Name</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div> 
}