<h1>Impressao</h1>
<a href="@Url.Action("GeneratePrescriptionsReport", new { id = "PDF" })" target="_blank">Gerar PDF de Prescricao de Alta</a><br />
<a href="@Url.Action("GenerateSummayReport", new { id = "PDF" })" target="_blank">Gerar PDF de Sumario de Alta</a>