@using EHR.UI.Models
<h1>Hemotransfus&atilde;o</h1>
<hr />
<br />
<label>Realisada:</label>&nbsp;
        <input type="radio" name="hemotransfusion" value="true" onchange="Display($(this).next().next().next().next(), true)" />
Sim&nbsp;&nbsp;
        <input type="radio" name="hemotransfusion" value="false" checked onchange="Display($(this).next().next().next(), false)" />
n&atilde;o       
<br />
<br />
@{
    Html.RenderPartial("Hemotransfusion/_HemotransfusionTable");
}
<script type="text/javascript">
    var liCount = $("#ulHemotransfusion > li").length;

    if (liCount > 1) {
        $('input[value="false"]').removeAttr("checked");
        $('input[value="true"]').attr("checked", "");
        $('#ulHemotransfusion').removeAttr("style");
    }
</script>
@{
    Html.RenderPartial("Layout/_RemoveEdition");
}
