@using EHR.Domain.Entities
@using EHR.UI.Models
<h1>Prescri&ccedil;&atilde;o de Alta</h1>
<hr />
<br />
@{
    var medicationUseBefore = new MedicationModel { Type = (short)MedicationTypeEnum.Prescription };
    ViewBag.MedicationType = (short)MedicationTypeEnum.Prescription;
    Html.RenderPartial("Medication/_Table", medicationUseBefore);
}
<script type="text/javascript">
    @if (((SummaryModel)Session["Summary"]).Finalized == true)
    {
        @:RemoveEdition();    
        }
</script>